<header ng-switch on="$location.path().indexOf('/SlsSOHstrys/new') > -1">
    <h3 ng-switch-when="true">Create SlsSOHstry</h3>
    <h3 ng-switch-when="false">View or edit SlsSOHstry</h3>
</header>
<form id="SlsSOHstryForm" name="SlsSOHstryForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.soNbr.$invalid}">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div id="soNbrControls" class="controls">
            <input id="soNbr" name="soNbr" type="text" required ng-model="slsSOHstry.soNbr" placeholder="Enter the SlsSOHstry So Nbr"></input>
            <span class="help-inline" ng-show="SlsSOHstryForm.soNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.soStatus.$invalid}">
        <label for="soStatus" class="control-label">So Status</label>
        <div id="soStatusControls" class="controls">
            <input id="soStatus" name="soStatus" type="text" required ng-model="slsSOHstry.soStatus" placeholder="Enter the SlsSOHstry So Status"></input>
            <span class="help-inline" ng-show="SlsSOHstryForm.soStatus.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.hstryDt.$invalid}">
        <label for="hstryDt" class="control-label">Hstry Dt</label>
        <div id="hstryDtControls" class="controls">
            <datetime id="hstryDt" name="hstryDt" required ng-model="slsSOHstry.hstryDt" placeholder="Enter the SlsSOHstry Hstry Dt"></datetime>
            <span class="help-inline" ng-show="SlsSOHstryForm.hstryDt.$error.required">required</span> 
            <span class="help-inline" ng-show="SlsSOHstryForm.hstryDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.orignLogin.$invalid}">
        <label for="orignLogin" class="control-label">Orign Login</label>
        <div id="orignLoginControls" class="controls">
            <input id="orignLogin" name="orignLogin" type="text" required ng-model="slsSOHstry.orignLogin" placeholder="Enter the SlsSOHstry Orign Login"></input>
            <span class="help-inline" ng-show="SlsSOHstryForm.orignLogin.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.orignWrkspc.$invalid}">
        <label for="orignWrkspc" class="control-label">Orign Wrkspc</label>
        <div id="orignWrkspcControls" class="controls">
            <input id="orignWrkspc" name="orignWrkspc" type="text" required ng-model="slsSOHstry.orignWrkspc" placeholder="Enter the SlsSOHstry Orign Wrkspc"></input>
            <span class="help-inline" ng-show="SlsSOHstryForm.orignWrkspc.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.procStep.$invalid}">
        <label for="procStep" class="control-label">Proc Step</label>
        <div id="procStepControls" class="controls">
            <input id="procStep" name="procStep" type="text" required ng-model="slsSOHstry.procStep" placeholder="Enter the SlsSOHstry Proc Step"></input>
            <span class="help-inline" ng-show="SlsSOHstryForm.procStep.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.histryType.$invalid}">
        <label for="histryType" class="control-label">Histry Type</label>
        <div id="histryTypeControls" class="controls">
            <input id="histryType" name="histryType" type="text" required ng-model="slsSOHstry.histryType" placeholder="Enter the SlsSOHstry Histry Type"></input>
            <span class="help-inline" ng-show="SlsSOHstryForm.histryType.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.comment.$invalid}">
        <label for="comment" class="control-label">Comment</label>
        <div id="commentControls" class="controls">
            <input id="comment" name="comment" type="text" ng-model="slsSOHstry.comment" placeholder="Enter the SlsSOHstry Comment"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOHstryForm.addtnlInfo.$invalid}">
        <label for="addtnlInfo" class="control-label">Addtnl Info</label>
        <div id="addtnlInfoControls" class="controls">
            <input id="addtnlInfo" name="addtnlInfo" type="text" ng-model="slsSOHstry.addtnlInfo" placeholder="Enter the SlsSOHstry Addtnl Info"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsSOHstry" name="saveSlsSOHstry" class="btn btn-primary" ng-disabled="isClean() || SlsSOHstryForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsSOHstry" name="deleteSlsSOHstry" class="btn btn-danger" ng-show="slsSOHstry.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>