<div>
    <div class="well">
        <h4>
            <a>{{prcmtOrderShowCtlr.prcmtOrder.dlvryNbr}}</a> of {{prcmtOrderShowCtlr.prcmtOrder.orderDt | date:'dd-MM-yyyy'}},
            <b>Order No: </b>{{prcmtOrderShowCtlr.prcmtOrder.dlvrySlipNbr}},
            <b>Amount Ht:</b> {{prcmtOrderShowCtlr.prcmtOrder.netPPTaxIncl}} cfa,
            <b>Amount Entered:</b> {{prcmtOrderShowCtlr.totalAmountEntered}} cfa
            <p class="pull-right">
                <a class=" btn btn-default" href="#/PrcmtOrders"  type="button">Cancel</a>
                <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.save()" type="button">Save</button>
                <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.close()" type="button">Save and Close</button>
            </p>
        </h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>Add Procurement Order Item</b> </div>
        <div class="panel-body">
            <form name="prcmtOrderItemForm" id="prcmtOrderItemForm" novalidate >
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th class="clo-lg-2">CIP</th>
                    <th class="col-lg-3">Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte</th>
                    <th>Prix Achat</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                            <input type="hidden" value="{{prcmtOrderShowCtlr.prcmtOrder.dlvryNbr}}" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.dlvryItem.dlvryNbr" >
                            <td>
                                <div ng-class="{ 'has-error' : prcmtOrderItemForm.artPic.$invalid }" >
                                    <input type="text" ng- class="form-control" select-on-click name="artPic" id="artPic" required autocomplete="off" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.dlvryItem.artPic"
                                       typeahead="article as article.pic for article in prcmtOrderShowCtlr.loadArticlesByCipLike($viewValue)"
                                       typeahead-loading="loading" typeahead-template-url="views/PrcmtOrder/CatalTypeaheadTemplate.html" typeahead-on-select='prcmtOrderShowCtlr.onSelect($item, $model, $label)' >
                                </div>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error' : prcmtOrderItemForm.artName.$invalid }" >
                                    <input type="text" class="form-control" select-on-click focus required id="artName" autocomplete="off" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.dlvryItem.artName"
                                       typeahead="article as article.features.artName for article in prcmtOrderShowCtlr.loadArticlesByNameLike($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='prcmtOrderShowCtlr.onSelect($item, $model, $label)' name="artName" >
                                </div>
                            </td>
                            <td><input type="text" class="form-control" disabled ></td>
                            <td>
                                <div ng-class="{ 'has-error' : prcmtOrderItemForm.qtyDlvrd.$invalid }" >
                                    <input type="text" class="form-control" required name="qtyDlvrd" id="qtyDlvrd" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.dlvryItem.qtyDlvrd" >
                                </div>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error' : prcmtOrderItemForm.pppuPreTax.$invalid }" >
                                    <input type="text" class="form-control" required name="pppuPreTax" ng-model="prcmtOrderShowCtlr.prcmtOrderItemHolder.dlvryItem.pppuPreTax" >
                                </div>
                            </td>
                            <td><button class="btn btn-default" ng-enter="prcmtOrderShowCtlr.addItem()" ng-disabled="prcmtOrderItemForm.$invalid" ng-click="prcmtOrderShowCtlr.addItem()" ><i class="glyphicon glyphicon-plus"></i> Add</button></td>

                    </tr>
                </tbody>
            </table>
          </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>List Procurement Order Item</b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="col-lg-2" >CIP</th>
                    <th class="col-lg-3" >Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte</th>
                    <th>Qte Gratuite</th>
                    <th>prix Achat</th>
                    <th>Prix Vente</th>
                    <th>Date P</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prcmtOrderItemHolder in prcmtOrderShowCtlr.prcmtOrderItemHolders"  >
                        <td>{{prcmtOrderItemHolder.dlvryItem.artPic}}</td>
                        <td>{{prcmtOrderItemHolder.dlvryItem.artName}}</td>
                        <td></td>
                        <td>{{prcmtOrderItemHolder.dlvryItem.qtyDlvrd}}</td>
                        <td>{{prcmtOrderItemHolder.dlvryItem.freeQty}}</td>
                        <td>{{prcmtOrderItemHolder.dlvryItem.pppuPreTax}}</td>
                        <td>{{prcmtOrderItemHolder.dlvryItem.sppuPreTax}}</td>
                        <td>{{prcmtOrderItemHolder.dlvryItem.expirDt}}</td>
                        <td><a ng-click="prcmtOrderShowCtlr.editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td><a ng-click="prcmtOrderShowCtlr.deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>