<div>
    <div class="well">
        <h4>
            <a>{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.poNbr}}</a> of {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.orderDt | date:'dd-MM-yyyy'}},
            <b>{{"PrcmtProcOrder_poNbr_description.title" | translate}}: </b>{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.poNbr}},
            <b>{{"PrcmtProcOrder_grossPPPreTax_description.title" | translate}}:</b> {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.grossPPPreTax}} cfa,
            <b>{{"PrcmtProcOrder_netPPTaxIncl_description.title" | translate}}:</b> {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.netPPTaxIncl}} cfa,
            <b>{{"PrcmtProcOrder_creatingUsr_description.title" | translate}}: </b> {{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.creatingUsr}}
        </h4>
        <p class="">
            <a class=" btn btn-default" href="#/"  type="button">Cancel</a>
            <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.save()" ng-show="prcmtOrderShowCtlr.closeStatus" type="button">Save</button>
            <button class=" btn btn-primary" ng-click="prcmtOrderShowCtlr.close()" ng-show="prcmtOrderShowCtlr.closeStatus" type="button">Save and Close</button>
        </p>
    </div>
    <div class="panel panel-default" ng-show="prcmtOrderShowCtlr.closeStatus" >
        <div class="panel-heading"><b>Add Procurement Delivery Item</b> </div>
        <div class="panel-body">
            <form name="PrcmtProcOrderItemForm" id="PrcmtProcOrderItemForm" novalidate >
                <table class="table-bordered" >
                    <thead>
                    <tr>
                        <th class="clo-lg-2">CIP</th>
                        <th class="col-lg-3">Designation</th>
                        <th>Qte Stock</th>
                        <th>Qte</th>
                        <th>Qte Gratuite</th>
                        <th>prix Achat</th>
                        <th>Prix Vente</th>
                        <th>Taux Mul</th>
                        <th>Date P</th>
                        <th><a ng-click="prcmtOrderShowCtlr.showMore()" class="pointer-element" ng-show="!prcmtOrderShowCtlr.show" ><i class="glyphicon glyphicon-plus"></i> More</a>
                            <a ng-click="prcmtOrderShowCtlr.showLess()" class="pointer-element" ng-show="prcmtOrderShowCtlr.show" ><i class="glyphicon glyphicon-minus"></i> Less</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <input type="hidden" value="{{prcmtOrderShowCtlr.prcmtOrderHolder.prcmtOrder.poNbr}}" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.dlvryNbr" >
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.artPic.$invalid }" >
                                <input type="text" ng- class="form-control" select-on-click name="artPic" id="artPic" required autocomplete="off" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.artPic"
                                       typeahead="article as article.pic for article in prcmtOrderShowCtlr.loadArticlesByCipLike($viewValue)"
                                       typeahead-loading="loading" typeahead-template-url="views/PrcmtProcOrder/CatalTypeaheadTemplate.html" typeahead-on-select='prcmtOrderShowCtlr.onSelect($item, $model, $label)' >
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.artName.$invalid }" >
                                <input type="text" class="form-control" select-on-click focus required id="artName" autocomplete="off" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.artName"
                                       typeahead="article as article.features.artName for article in prcmtOrderShowCtlr.loadArticlesByNameLike($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='prcmtOrderShowCtlr.onSelect($item, $model, $label)' name="artName" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" disabled ></td>
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.qtyDlvrd.$invalid }" >
                                <input type="text" class="form-control" required name="qtyDlvrd" id="qtyDlvrd" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.qtyDlvrd" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.freeQty" ></td>
                        <td>
                            <div ng-class="{ 'has-error' : PrcmtProcOrderItemForm.pppuPreTax.$invalid }" >
                                <input type="text" class="form-control" required name="pppuPreTax" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.pppuPreTax" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.sppuPreTax" ></td>
                        <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.taux" ng-change="prcmtOrderShowCtlr.tauxMultiplicateur()" ></td>
                        <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.expirDt" placeholder="MMYY" ></td>
                        <td><button class="btn btn-primary" ng-enter="prcmtOrderShowCtlr.addItem()" ng-disabled="PrcmtProcOrderItemForm.$invalid" ng-click="prcmtOrderShowCtlr.addItem()" ><i class="glyphicon glyphicon-plus"></i> Add</button></td>

                    </tr>
                    </tbody>
                </table>
                <div ng-show="prcmtOrderShowCtlr.show" >
                    <table class="table-bordered" >
                        <thead>
                        <tr>
                            <th class="">{{'PrcmtDlvryItem_lotPic_description.title' | translate}}</th>
                            <th class="">{{'PrcmtDlvryItem_supplier_description.title' | translate}}</th>
                            <th>{{'PrcmtDlvryItem_rebate_description.title' | translate}}</th>
                            <th>{{'PrcmtDlvryItem_rebate_description.title' | translate}} %</th>
                            <th>{{'PrcmtDlvryItem_vatPct_description.title' | translate}}</th>
                            <th>{{'PrcmtDlvryItem_vatSalesPct_description.title' | translate}} Vente</th>
                            <th>{{'PrcmtDlvryItem_minSppuHT_description.title' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div>
                                    <input type="text" ng- class="form-control"
                                           name="lotPic" id="lotPic" autocomplete="off"
                                           ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.lotPic" >
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.supplier" id="supplier" name="supplier" class="form-control"
                                           autocomplete="off" typeahead="businessPartner.ptnrNbr as businessPartner.cpnyName for businessPartner in prcmtOrderShowCtlr.loadBusinessPartner($viewValue)"
                                           typeahead-loading="loading" placeholder="find a Supplier/Manufacturer" value="{{prcmtOrderShowCtlr.PrcmtProcOrder.supplier}}">
                                </div>
                            </td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.rebateAmt" ></td>
                            <td>
                                <div >
                                    <input type="text" class="form-control" name="rebatePct" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.rebatePct" >
                                </div>
                            </td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.vatPct"></td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.vatSalesPct" ></td>
                            <td>
                                <div >
                                    <input type="text" class="form-control" name="minSppuHT" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.minSppuHT" >
                                </div>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <table class="table-bordered" >
                        <thead>
                        <tr>
                            <th>{{'PrcmtDlvryItem_purchWrntyDys_description.title' | translate}}</th>
                            <th>{{'PrcmtDlvryItem_purchRtrnDays_description.title' | translate}}</th>
                            <th>{{'PrcmtDlvryItem_salesWrntyDys_description.title' | translate}}</th>
                            <th>{{'PrcmtDlvryItem_salesRtrnDays_description.title' | translate}}</th>
                            <th>{{'PrcmtProcOrder_rcvngOrgUnit_description.title' | translate}}</th>
                            <th>Section</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div >
                                    <input type="text" class="form-control" name="purchWrntyDys" id="purchWrntyDys" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.purchWrntyDys" >
                                </div>
                            </td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.purchRtrnDays" ></td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.salesWrntyDys"></td>
                            <td><input type="text" class="form-control" ng-model="prcmtOrderShowCtlr.PrcmtProcOrderItemHolder.dlvryItem.salesRtrnDays" ></td>
                            <td><input type="text" ng-model="prcmtOrderShowCtlr.rcvngOrgUnit"  class="form-control"
                                       autocomplete="off" typeahead="orgUnit.identif as orgUnit.fullName for orgUnit in prcmtOrderShowCtlr.loadOrgUnit($viewValue)"
                                       typeahead-loading="loading" placeholder="find an organisation unit" value="{{prcmtOrderShowCtlr.PrcmtProcOrder.rcvngOrgUnit}}" >
                            </td>
                            <td>
                                <input type="text" ng-model="prcmtOrderShowCtlr.strgSection"  class="form-control"
                                       autocomplete="off" typeahead="section.identif as section.name for section in prcmtOrderShowCtlr.loadstkSection($viewValue)"
                                       typeahead-loading="loading" placeholder="find a section" >
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>List Procurement Delivery Item</b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="col-lg-2" >CIP</th>
                    <th class="col-lg-3" >Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte</th>
                    <th>Qte Gratuite</th>
                    <th>prix Achat</th>
                    <th>Prix Vente</th>
                    <th>Date P</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderItemHolder in prcmtOrderShowCtlr.prcmtOrderItemHolders"  >
                    <td>{{orderItemHolder.prcmtPOItem.artPic}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.artName}}</td>
                    <td></td>
                    <td>{{orderItemHolder.prcmtPOItem.qtyDlvrd}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.freeQty}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.pppuPreTax}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.sppuPreTax}}</td>
                    <td>{{orderItemHolder.prcmtPOItem.expirDt | date: 'dd-MM-yyyy'}}</td>
                    <td><a ng-show="prcmtOrderShowCtlr.closeStatus" ng-click="prcmtOrderShowCtlr.editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-show="prcmtOrderShowCtlr.closeStatus" ng-click="prcmtOrderShowCtlr.deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>