<div class="row">
    <div class="panel panel-default  ng-scope">
        <div class="panel-heading no-collapse">
            <div class="row">
                <div class="col-lg-2">
                    <b>{{"Entity_search.title"|translate}}</b>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="">
                <form role="form" class="">
                    <div class="row" >
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class=" control-label" for="sectionCode">{{"StkSection_sectionCode_description.title"|translate}}</label>
                                <div class="">
                                    <input type="text" id="sectionCode" ng-model="stkSectionCtrl.searchInput.entity.sectionCode" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class=" control-label" for="name">{{"StkSection_name_description.title"|translate}}</label>
                                <div class="">
                                    <input type="text" id="name" ng-model="stkSectionCtrl.searchInput.entity.name" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class=" control-label" for="wharehouse">{{"StkSection_wharehouse_description.title"|translate}}</label>
                                <div class="">
                                    <input type="text" id="wharehouse" ng-model="stkSectionCtrl.searchInput.entity.wharehouse" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class=" control-label" for="parentCode">{{"StkSection_parentCode_description.title"|translate}}</label>
                                <div class="">
                                    <input type="text" id="parentCode" ng-model="stkSectionCtrl.searchInput.entity.parentCode" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <div class="form-group">
                                <button  ng-click="stkSectionCtrl.handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                                <button  ng-click="stkSectionCtrl.handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                    <i class="glyphicon glyphicon-print"></i>
                                </button>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <div class="panel panel-default ">
        <div class="panel-heading no-collapse"><b>{{"Entity_Result.title"|translate}}</b></div>
        <div class="panel-body">
            <div class="col-lg-12">
                <div  class="row">
                    <a class="btn btn-primary pull-right margBott10" href="#/StkSections/new" >
                        <i class="glyphicon-plus"></i> {{"Entity_create.title" | translate}}
                    </a>

                </div>
                <div class="table-overflow-middle row">
                    <table class="table table-bordered  table-striped pointer-element" >
                        <thead>
                        <tr>
                            <th class="text-center">{{"StkSection_sectionCode_description.title"|translate}}</th>
                            <th class="text-center">{{"StkSection_name_description.title"|translate}}</th>
                            <th class="text-center">{{"StkSection_wharehouse_description.title"|translate}}</th>
                            <th class="text-center">{{"StkSection_position_description.title"|translate}}</th>
                            <th class="text-center">{{"StkSection_geoCode_description.title"|translate}}</th>
                            <th class="text-center">{{"StkSection_parentCode_description.title"|translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="stkSection in stkSectionCtrl.stkSections" >
                            <td>{{stkSection.sectionCode}}</td>
                            <td>{{stkSection.name}}</td>
                            <td>{{stkSection.wharehouse}}</td>
                            <td>{{stkSection.position}}</td>
                            <td>{{stkSection.geoCode}}</td>
                            <td>{{stkSection.parentCode}}</td>
                            <td><a href="#/StkSections/show/{{stkSection.sectionCode}}" ><i class="glyphicon glyphicon-eye-open"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <ul  class="pull-right">
                    <pagination  total-items="stkSectionCtrl.totalItems" items-per-page="stkSectionCtrl.itemPerPage"  class="pagination-sm" ng-model="stkSectionCtrl.currentPage" ng-change="stkSectionCtrl.paginate()"></pagination>

                </ul>
            </div>

        </div>
    </div>
</div>