<div class="panel panel-default  ng-scope">
    <div class="panel-body">
        <div class="row" >
            <form role="form" class="">
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class=" control-label" for="sectionCode">{{stkSectionUtils.translations['StkSection_sectionCode_description.title']}}</label>
                        <div class="">
                            <input type="text" id="sectionCode" ng-model="searchInput.entity.sectionCode" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="name">{{stkSectionUtils.translations['StkSection_name_description.title']}}</label>
                        <div class="">
                            <input type="text" id="name" ng-model="searchInput.entity.name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class=" control-label" for="wharehouse">{{stkSectionUtils.translations['StkSection_wharehouse_description.title']}}</label>
                        <div class="">
                            <input type="text" id="wharehouse" ng-model="searchInput.entity.wharehouse" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class=" control-label" for="parentCode">{{stkSectionUtils.translations['StkSection_parentCode_description.title']}}</label>
                        <div class="">
                            <input type="text" id="parentCode" ng-model="searchInput.entity.parentCode" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                            <i class="glyphicon glyphicon-print"></i>
                        </button>
               <a class="btn btn-primary" href="#/BpBnsPtnrs/new" style="margin-top: 23px;" >
                   <i class="glyphicon-plus"></i> {{stkSectionUtils.translations['Entity_create.title']}}
               </a>
                    </div>
                </div>
            </form>
        </div>

        <div class="row" >
         <div class="col-lg-12">
             <div class="table-overflow-middle row">
                 <table class="table table-bordered  table-striped pointer-element" >
                     <thead>
                     <tr>
                         <th class="text-center">{{stkSectionUtils.translations['StkSection_sectionCode_description.title']}}</th>
                         <th class="text-center">{{stkSectionUtils.translations['StkSection_name_description.title']}}</th>
                         <th class="text-center">{{stkSectionUtils.translations['StkSection_wharehouse_description.title']}}</th>
                         <th class="text-center">{{stkSectionUtils.translations['StkSection_parentCode_description.title']}}</th>
                         <th></th>
                         <th></th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr ng-repeat="stkSection in stkSections()" >
                         <td>{{stkSection.sectionCode}}</td>
                         <td>{{stkSection.name}}</td>
                         <td>{{stkSection.wharehouse}}</td>
                         <td>{{stkSection.parentCode}}</td>
                         <td><a href="" ng-click="show(stkSection,$index)"><i class="glyphicon glyphicon-eye-open"></i></a></td>
                         <td><a href="" ng-click="edit(stkSection,$index)"><i class="glyphicon glyphicon-edit"></i></a></td>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <ul  class="pull-right">
                 <pagination  total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
             </ul>
         </div>
        </div>
    </div>
	</div>
</div>
