<header ng-switch on="$location.path().indexOf('/SlsSOItems/new') > -1">
    <h3 ng-switch-when="true">Create SlsSOItem</h3>
    <h3 ng-switch-when="false">View or edit SlsSOItem</h3>
</header>
<form id="SlsSOItemForm" name="SlsSOItemForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.soNbr.$invalid}">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div id="soNbrControls" class="controls">
            <input id="soNbr" name="soNbr" type="text" required ng-model="slsSOItem.soNbr" placeholder="Enter the SlsSOItem So Nbr"></input>
            <span class="help-inline" ng-show="SlsSOItemForm.soNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.lotPic.$invalid}">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div id="lotPicControls" class="controls">
            <input id="lotPic" name="lotPic" type="text" required ng-model="slsSOItem.lotPic" placeholder="Enter the SlsSOItem Lot Pic"></input>
            <span class="help-inline" ng-show="SlsSOItemForm.lotPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.artPic.$invalid}">
        <label for="artPic" class="control-label">Art Pic</label>
        <div id="artPicControls" class="controls">
            <input id="artPic" name="artPic" type="text" required ng-model="slsSOItem.artPic" placeholder="Enter the SlsSOItem Art Pic"></input>
            <span class="help-inline" ng-show="SlsSOItemForm.artPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.orderedQty.$invalid}">
        <label for="orderedQty" class="control-label">Ordered Qty</label>
        <div id="orderedQtyControls" class="controls">
            <input id="orderedQty" name="orderedQty" type="text" required ng-model="slsSOItem.orderedQty" placeholder="Enter the SlsSOItem Ordered Qty"></input>
            <span class="help-inline" ng-show="SlsSOItemForm.orderedQty.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.returnedQty.$invalid}">
        <label for="returnedQty" class="control-label">Returned Qty</label>
        <div id="returnedQtyControls" class="controls">
            <input id="returnedQty" name="returnedQty" type="text" ng-model="slsSOItem.returnedQty" placeholder="Enter the SlsSOItem Returned Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.deliveredQty.$invalid}">
        <label for="deliveredQty" class="control-label">Delivered Qty</label>
        <div id="deliveredQtyControls" class="controls">
            <input id="deliveredQty" name="deliveredQty" type="text" ng-model="slsSOItem.deliveredQty" placeholder="Enter the SlsSOItem Delivered Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.sppuPreTax.$invalid}">
        <label for="sppuPreTax" class="control-label">Sppu Pre Tax</label>
        <div id="sppuPreTaxControls" class="controls">
            <input id="sppuPreTax" name="sppuPreTax" type="text" ng-model="slsSOItem.sppuPreTax" placeholder="Enter the SlsSOItem Sppu Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.sppuCur.$invalid}">
        <label for="sppuCur" class="control-label">Sppu Cur</label>
        <div id="sppuCurControls" class="controls">
            <input id="sppuCur" name="sppuCur" type="text" ng-model="slsSOItem.sppuCur" placeholder="Enter the SlsSOItem Sppu Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.grossSPPreTax.$invalid}">
        <label for="grossSPPreTax" class="control-label">Gross SP Pre Tax</label>
        <div id="grossSPPreTaxControls" class="controls">
            <input id="grossSPPreTax" name="grossSPPreTax" type="text" ng-model="slsSOItem.grossSPPreTax" placeholder="Enter the SlsSOItem Gross SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.rebate.$invalid}">
        <label for="rebate" class="control-label">Rebate</label>
        <div id="rebateControls" class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="slsSOItem.rebate" placeholder="Enter the SlsSOItem Rebate"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.netSPPreTax.$invalid}">
        <label for="netSPPreTax" class="control-label">Net SP Pre Tax</label>
        <div id="netSPPreTaxControls" class="controls">
            <input id="netSPPreTax" name="netSPPreTax" type="text" ng-model="slsSOItem.netSPPreTax" placeholder="Enter the SlsSOItem Net SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.vatPct.$invalid}">
        <label for="vatPct" class="control-label">Vat Pct</label>
        <div id="vatPctControls" class="controls">
            <input id="vatPct" name="vatPct" type="text" ng-model="slsSOItem.vatPct" placeholder="Enter the SlsSOItem Vat Pct"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.vatAmount.$invalid}">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div id="vatAmountControls" class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="slsSOItem.vatAmount" placeholder="Enter the SlsSOItem Vat Amount"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.netSPTaxIncl.$invalid}">
        <label for="netSPTaxIncl" class="control-label">Net SP Tax Incl</label>
        <div id="netSPTaxInclControls" class="controls">
            <input id="netSPTaxIncl" name="netSPTaxIncl" type="text" ng-model="slsSOItem.netSPTaxIncl" placeholder="Enter the SlsSOItem Net SP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOItemForm.objctOrgUnit.$invalid}">
        <label for="objctOrgUnit" class="control-label">Objct Org Unit</label>
        <div id="objctOrgUnitControls" class="controls">
            <input id="objctOrgUnit" name="objctOrgUnit" type="text" required ng-model="slsSOItem.objctOrgUnit" placeholder="Enter the SlsSOItem Objct Org Unit"></input>
            <span class="help-inline" ng-show="SlsSOItemForm.objctOrgUnit.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsSOItem" name="saveSlsSOItem" class="btn btn-primary" ng-disabled="isClean() || SlsSOItemForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsSOItem" name="deleteSlsSOItem" class="btn btn-danger" ng-show="slsSOItem.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>