<header ng-switch on="$location.path().indexOf('/InvInvtryItems/new') > -1">
    <h3 ng-switch-when="true">Create InvInvtryItem</h3>
    <h3 ng-switch-when="false">View or edit InvInvtryItem</h3>
</header>
<form id="InvInvtryItemForm" name="InvInvtryItemForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.invtryNbr.$invalid}">
        <label for="invtryNbr" class="control-label">Invtry Nbr</label>
        <div id="invtryNbrControls" class="controls">
            <input id="invtryNbr" name="invtryNbr" type="text" required ng-model="invInvtryItem.invtryNbr" placeholder="Enter the InvInvtryItem Invtry Nbr"></input>
            <span class="help-inline" ng-show="InvInvtryItemForm.invtryNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.lotPic.$invalid}">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div id="lotPicControls" class="controls">
            <input id="lotPic" name="lotPic" type="text" required ng-model="invInvtryItem.lotPic" placeholder="Enter the InvInvtryItem Lot Pic"></input>
            <span class="help-inline" ng-show="InvInvtryItemForm.lotPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.artPic.$invalid}">
        <label for="artPic" class="control-label">Art Pic</label>
        <div id="artPicControls" class="controls">
            <input id="artPic" name="artPic" type="text" required ng-model="invInvtryItem.artPic" placeholder="Enter the InvInvtryItem Art Pic"></input>
            <span class="help-inline" ng-show="InvInvtryItemForm.artPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.section.$invalid}">
        <label for="section" class="control-label">Section</label>
        <div id="sectionControls" class="controls">
            <input id="section" name="section" type="text" ng-model="invInvtryItem.section" placeholder="Enter the InvInvtryItem Section"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.orgUnit.$invalid}">
        <label for="orgUnit" class="control-label">Org Unit</label>
        <div id="orgUnitControls" class="controls">
            <input id="orgUnit" name="orgUnit" type="text" ng-model="invInvtryItem.orgUnit" placeholder="Enter the InvInvtryItem Org Unit"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.acsngDt.$invalid}">
        <label for="acsngDt" class="control-label">Acsng Dt</label>
        <div id="acsngDtControls" class="controls">
            <datetime id="acsngDt" name="acsngDt" ng-model="invInvtryItem.acsngDt" placeholder="Enter the InvInvtryItem Acsng Dt"></datetime>
            <span class="help-inline" ng-show="InvInvtryItemForm.acsngDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.expectedQty.$invalid}">
        <label for="expectedQty" class="control-label">Expected Qty</label>
        <div id="expectedQtyControls" class="controls">
            <input id="expectedQty" name="expectedQty" type="text" ng-model="invInvtryItem.expectedQty" placeholder="Enter the InvInvtryItem Expected Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.asseccedQty.$invalid}">
        <label for="asseccedQty" class="control-label">Assecced Qty</label>
        <div id="asseccedQtyControls" class="controls">
            <input id="asseccedQty" name="asseccedQty" type="text" ng-model="invInvtryItem.asseccedQty" placeholder="Enter the InvInvtryItem Assecced Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.gap.$invalid}">
        <label for="gap" class="control-label">Gap</label>
        <div id="gapControls" class="controls">
            <input id="gap" name="gap" type="text" ng-model="invInvtryItem.gap" placeholder="Enter the InvInvtryItem Gap"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.sppuPT.$invalid}">
        <label for="sppuPT" class="control-label">Sppu PT</label>
        <div id="sppuPTControls" class="controls">
            <input id="sppuPT" name="sppuPT" type="text" ng-model="invInvtryItem.sppuPT" placeholder="Enter the InvInvtryItem Sppu PT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.sppuCur.$invalid}">
        <label for="sppuCur" class="control-label">Sppu Cur</label>
        <div id="sppuCurControls" class="controls">
            <input id="sppuCur" name="sppuCur" type="text" ng-model="invInvtryItem.sppuCur" placeholder="Enter the InvInvtryItem Sppu Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.gapTotalSpPT.$invalid}">
        <label for="gapTotalSpPT" class="control-label">Gap Total Sp PT</label>
        <div id="gapTotalSpPTControls" class="controls">
            <input id="gapTotalSpPT" name="gapTotalSpPT" type="text" ng-model="invInvtryItem.gapTotalSpPT" placeholder="Enter the InvInvtryItem Gap Total Sp PT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.pppuPT.$invalid}">
        <label for="pppuPT" class="control-label">Pppu PT</label>
        <div id="pppuPTControls" class="controls">
            <input id="pppuPT" name="pppuPT" type="text" ng-model="invInvtryItem.pppuPT" placeholder="Enter the InvInvtryItem Pppu PT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.pppuCur.$invalid}">
        <label for="pppuCur" class="control-label">Pppu Cur</label>
        <div id="pppuCurControls" class="controls">
            <input id="pppuCur" name="pppuCur" type="text" ng-model="invInvtryItem.pppuCur" placeholder="Enter the InvInvtryItem Pppu Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.gapTotalPpPT.$invalid}">
        <label for="gapTotalPpPT" class="control-label">Gap Total Pp PT</label>
        <div id="gapTotalPpPTControls" class="controls">
            <input id="gapTotalPpPT" name="gapTotalPpPT" type="text" ng-model="invInvtryItem.gapTotalPpPT" placeholder="Enter the InvInvtryItem Gap Total Pp PT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: InvInvtryItemForm.acsngUser.$invalid}">
        <label for="acsngUser" class="control-label">Acsng User</label>
        <div id="acsngUserControls" class="controls">
            <input id="acsngUser" name="acsngUser" type="text" required ng-model="invInvtryItem.acsngUser" placeholder="Enter the InvInvtryItem Acsng User"></input>
            <span class="help-inline" ng-show="InvInvtryItemForm.acsngUser.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveInvInvtryItem" name="saveInvInvtryItem" class="btn btn-primary" ng-disabled="isClean() || InvInvtryItemForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteInvInvtryItem" name="deleteInvInvtryItem" class="btn btn-danger" ng-show="invInvtryItem.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>