<header ng-switch on="$location.path().indexOf('/BpCtgryDscnts/new') > -1">
    <h3 ng-switch-when="true">Create BpCtgryDscnt</h3>
    <h3 ng-switch-when="false">View or edit BpCtgryDscnt</h3>
</header>
<form id="BpCtgryDscntForm" name="BpCtgryDscntForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: BpCtgryDscntForm.ctgryCode.$invalid}">
        <label for="ctgryCode" class="control-label">Ctgry Code</label>
        <div id="ctgryCodeControls" class="controls">
            <input id="ctgryCode" name="ctgryCode" type="text" required ng-model="bpCtgryDscnt.ctgryCode" placeholder="Enter the BpCtgryDscnt Ctgry Code"></input>
            <span class="help-inline" ng-show="BpCtgryDscntForm.ctgryCode.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpCtgryDscntForm.dscntAuthrzd.$invalid}">
        <label for="dscntAuthrzd" class="control-label">Dscnt Authrzd</label>
        <div id="dscntAuthrzdControls" class="controls">
        <select id="dscntAuthrzd" name="dscntAuthrzd" ng-model="bpCtgryDscnt.dscntAuthrzd" ng-options="d for d in dscntAuthrzdList"  >
            <option value="">Choose a Dscnt Authrzd</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpCtgryDscntForm.maxDscntRatePct.$invalid}">
        <label for="maxDscntRatePct" class="control-label">Max Dscnt Rate Pct</label>
        <div id="maxDscntRatePctControls" class="controls">
            <input id="maxDscntRatePct" name="maxDscntRatePct" type="text" ng-model="bpCtgryDscnt.maxDscntRatePct" placeholder="Enter the BpCtgryDscnt Max Dscnt Rate Pct"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveBpCtgryDscnt" name="saveBpCtgryDscnt" class="btn btn-primary" ng-disabled="isClean() || BpCtgryDscntForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteBpCtgryDscnt" name="deleteBpCtgryDscnt" class="btn btn-danger" ng-show="bpCtgryDscnt.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>