<div class="form-horizontal">
    <h3>Create a new BpCtgryDscnt</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/BpCtgryDscnts/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for BpCtgryDscnts</h3>
    <form id="BpCtgryDscntSearch" class="form-horizontal">
    <div class="control-group">
        <label for="ctgryCode" class="control-label">Ctgry Code</label>
        <div class="controls">
            <input id="ctgryCode" name="ctgryCode" type="text" ng-model="search.ctgryCode" placeholder="Enter the BpCtgryDscnt Ctgry Code"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="dscntAuthrzd" class="control-label">Dscnt Authrzd</label>
        <div class="controls">
            <select id="dscntAuthrzd" name="dscntAuthrzd" ng-model="search.dscntAuthrzd" ng-options="d as d for d in dscntAuthrzdList">
                <option value="">Choose a Dscnt Authrzd</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="maxDscntRatePct" class="control-label">Max Dscnt Rate Pct</label>
        <div class="controls">
            <input id="maxDscntRatePct" name="maxDscntRatePct" type="text" ng-model="search.maxDscntRatePct" placeholder="Enter the BpCtgryDscnt Max Dscnt Rate Pct"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Ctgry Code</th>
                <th>Dscnt Authrzd</th>
                <th>Max Dscnt Rate Pct</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/BpCtgryDscnts/edit/{{result.id}}">{{result.ctgryCode}}</a></td>
                <td><a href="#/BpCtgryDscnts/edit/{{result.id}}">{{result.dscntAuthrzd}}</a></td>
                <td><a href="#/BpCtgryDscnts/edit/{{result.id}}">{{result.maxDscntRatePct}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>