<div class="row">
	<div class="col-lg-3">
		<div class="list-group">
			<a  class="list-group-item active"> Menu </a> <a
				 class="list-group-item">Users</a> <a
				 class="list-group-item">Terminals</a> <a
				class="list-group-item">Workspace</a> <a
				class="list-group-item">Organisation Unit</a>
		</div>
	</div>
	<div class="col-lg-9">
		<table class="table table-bordered  table-striped table-hover">
			<thead>
				<tr>
					<th class="text-center">{{"logins_loginName"|translate}}</th>
					<th class="text-center">{{"logins_email"|translate}}</th>
					<th class="text-center">{{"logins_fullName"|translate}}</th>
					<th class="text-center">{{"logins_ouIdentif"|translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="lgn in logins()">
					<td>{{lgn.loginName}}</td>
					<td>{{lgn.email}}</td>
					<td>{{lgn.fullName}}</td>
					<td>{{lgn.ouIdentif}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

