<header ng-switch on="$location.path().indexOf('/CatalArtDetailConfigs/new') > -1">
    <h3 ng-switch-when="true">Create CatalArtDetailConfig</h3>
    <h3 ng-switch-when="false">View or edit CatalArtDetailConfig</h3>
</header>
<form id="CatalArtDetailConfigForm" name="CatalArtDetailConfigForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.artEquivCode.$invalid}">
        <label for="artEquivCode" class="control-label">Art Equiv Code</label>
        <div id="artEquivCodeControls" class="controls">
            <input id="artEquivCode" name="artEquivCode" type="text" required ng-model="catalArtDetailConfig.artDetCode" placeholder="Enter the CatalArtDetailConfig Art Equiv Code"></input>
            <span class="help-inline" ng-show="CatalArtDetailConfigForm.artEquivCode.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.sourceIdentif.$invalid}">
        <label for="sourceIdentif" class="control-label">Source Identif</label>
        <div id="sourceIdentifControls" class="controls">
            <input id="sourceIdentif" name="sourceIdentif" type="text" required ng-model="catalArtDetailConfig.sourceIdentif" placeholder="Enter the CatalArtDetailConfig Source Identif"></input>
            <span class="help-inline" ng-show="CatalArtDetailConfigForm.sourceIdentif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.targetIdentif.$invalid}">
        <label for="targetIdentif" class="control-label">Target Identif</label>
        <div id="targetIdentifControls" class="controls">
            <input id="targetIdentif" name="targetIdentif" type="text" required ng-model="catalArtDetailConfig.targetIdentif" placeholder="Enter the CatalArtDetailConfig Target Identif"></input>
            <span class="help-inline" ng-show="CatalArtDetailConfigForm.targetIdentif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.targetQty.$invalid}">
        <label for="targetQty" class="control-label">Target Qty</label>
        <div id="targetQtyControls" class="controls">
            <input id="targetQty" name="targetQty" type="text" required ng-model="catalArtDetailConfig.targetQty" placeholder="Enter the CatalArtDetailConfig Target Qty"></input>
            <span class="help-inline" ng-show="CatalArtDetailConfigForm.targetQty.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.salesPrice.$invalid}">
        <label for="salesPrice" class="control-label">Sales Price</label>
        <div id="salesPriceControls" class="controls">
            <input id="salesPrice" name="salesPrice" type="text" required ng-model="catalArtDetailConfig.salesPrice" placeholder="Enter the CatalArtDetailConfig Sales Price"></input>
            <span class="help-inline" ng-show="CatalArtDetailConfigForm.salesPrice.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtDetailConfigForm.active.$invalid}">
        <label for="active" class="control-label">Active</label>
        <div id="activeControls" class="controls">
        <select id="active" name="active" ng-model="catalArtDetailConfig.active" ng-options="a for a in activeList"  >
            <option value="">Choose a Active</option>
        </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalArtDetailConfig" name="saveCatalArtDetailConfig" class="btn btn-primary" ng-disabled="isClean() || CatalArtDetailConfigForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCatalArtDetailConfig" name="deleteCatalArtDetailConfig" class="btn btn-danger" ng-show="catalArtDetailConfig.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>