<div class="form-horizontal">
    <h3>Create a new CatalArtDetailConfig</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/CatalArtDetailConfigs/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for CatalArtDetailConfigs</h3>
    <form id="CatalArtDetailConfigSearch" class="form-horizontal">
    <div class="control-group">
        <label for="artEquivCode" class="control-label">Art Equiv Code</label>
        <div class="controls">
            <input id="artEquivCode" name="artEquivCode" type="text" ng-model="search.artEquivCode" placeholder="Enter the CatalArtDetailConfig Art Equiv Code"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sourceIdentif" class="control-label">Source Identif</label>
        <div class="controls">
            <input id="sourceIdentif" name="sourceIdentif" type="text" ng-model="search.sourceIdentif" placeholder="Enter the CatalArtDetailConfig Source Identif"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="targetIdentif" class="control-label">Target Identif</label>
        <div class="controls">
            <input id="targetIdentif" name="targetIdentif" type="text" ng-model="search.targetIdentif" placeholder="Enter the CatalArtDetailConfig Target Identif"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="targetQty" class="control-label">Target Qty</label>
        <div class="controls">
            <input id="targetQty" name="targetQty" type="text" ng-model="search.targetQty" placeholder="Enter the CatalArtDetailConfig Target Qty"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="salesPrice" class="control-label">Sales Price</label>
        <div class="controls">
            <input id="salesPrice" name="salesPrice" type="text" ng-model="search.salesPrice" placeholder="Enter the CatalArtDetailConfig Sales Price"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="active" class="control-label">Active</label>
        <div class="controls">
            <select id="active" name="active" ng-model="search.active" ng-options="a as a for a in activeList">
                <option value="">Choose a Active</option>
            </select>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Art Equiv Code</th>
                <th>Source Identif</th>
                <th>Target Identif</th>
                <th>Target Qty</th>
                <th>Sales Price</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults">
                <td><a href="#/CatalArtDetailConfigs/edit/{{result.id}}">{{result.artEquivCode}}</a></td>
                <td><a href="#/CatalArtDetailConfigs/edit/{{result.id}}">{{result.sourceIdentif}}</a></td>
                <td><a href="#/CatalArtDetailConfigs/edit/{{result.id}}">{{result.targetIdentif}}</a></td>
                <td><a href="#/CatalArtDetailConfigs/edit/{{result.id}}">{{result.targetQty}}</a></td>
                <td><a href="#/CatalArtDetailConfigs/edit/{{result.id}}">{{result.salesPrice}}</a></td>
                <td><a href="#/CatalArtDetailConfigs/edit/{{result.id}}">{{result.active}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>