<div ng-cloak class="panel-group" id="invIntryShowPanel">
    <div class="error">
        {{error}}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
 			<span><b>{{commonTranslations.translations['Entity_info.title']}} : </b></span>
 			 <span><b>{{commonTranslations.translations['CdrDrctSales_dsNbr_description.title']}} </b> {{cdrDrctSale.dsNbr}} </span>
 			 <span><b>{{commonTranslations.translations['Entity_Of.title']}} </b> {{cdrDrctSale.invtryDt | date:'dd MMM yyyy'}}</span>
 			 <span><b>{{commonTranslations.translations['Entity_By.title']}} </b>{{cdrDrctSale.acsngUser}}</span>
        	<button class="glyphicon glyphicon-triangle-right icon-blue pull-right" data-toggle="collapse" data-parent="#invIntryShowPanel" data-target="#invInvtryInfoToggle"></button>
        </div>
        <div class="panel-collapse collapse" id="invInvtryInfoToggle">
		    <div class="panel-body">
		    	<div class="row" >
			    	<div class="col-lg-4 pull-left">
		            	<span><b>{{commonTranslations.translations['Entity_By.title']}} :</b>{{cdrDrctSale.acsngUser}}</span>
			    	</div>
			    	<div class="col-lg-4 pull-right" ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
			    		<a class=" btn btn-default" href="#/"  type="button">Cancel</a>
			    	</div>
		    	</div>
		    	<div class="row" >
			    	<div class="col-lg-4 pull-right" ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
			    		<button class=" btn btn-primary" ng-click="save()" type="button">{{commonTranslations.translations['Entity_save.title']}} </button>
			    	</div>
		    	</div>
		    	<div class="row" >
			    	<div class="col-lg-4 pull-left">
		                <span><b>{{cdrDrctSalesUtils.translations['CdrDrctSales_invtryNbr_description.title']}} :</b> {{cdrDrctSale.invtryNbr}}</span>
			    	</div>
			    	<div class="col-lg-4 pull-left">
		                <span><b>{{cdrDrctSalesUtils.translations['CdrDrctSales_descptn_description.title']}} :</b> {{cdrDrctSale.descptn}}</span>
			    	</div>
			    	<div class="col-lg-4 pull-right" ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
		                <button class=" btn btn-primary" ng-click="close()" type="button">{{commonTranslations.translations['Entity_saveleave.title']}} </button>
			    	</div>
		    	</div>
		    </div>
    	</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        	<span><b>{{commonTranslations.translations['Entity_search.title']}} {{cdrDrctSalesUtils.translations['InvInvtryItem_description.title']}} </b></span>
        	<button class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#invIntryShowPanel" data-target="#invInvtryItemSearchToggle"></button>
        </div>
        <div class="panel-collapse collapse" id="invInvtryItemSearchToggle">
	        <div class="panel-body">
	            <form name="cdrDsArtItemSearchForm" id="cdrDsArtItemSearchForm" novalidate >
	                <div class="row" >
	                   <div class="form-group col-lg-8">
	                       <label class=" control-label" for="searchArtName">{{cdrDrctSalesUtils.translations['InvInvtryItem_artName_description.title']}}</label>
                           <input type="text" class="form-control" id="searchArtName" autocomplete="off" 
                           	ng-model="searchInput.entity.artName"
                              typeahead="article as article.features.artName for article in cdrDrctSalesUtils.loadArticles($viewValue)"
                              typeahead-loading="loading" typeahead-min-length="4" 
                              typeahead-on-select='onArticleSelectedInSearch($item, $model, $label)' name="searchArtName" >
	                   </div>
	                   <div class="form-group col-lg-2">
	                       <label class=" control-label" for="searchArtPic">{{cdrDrctSalesUtils.translations['InvInvtryItem_artPic_description.title']}}</label>
                           <input type="text" ng- class="form-control" name="searchArtPic" id="searchArtPic" required autocomplete="off" 
                           		ng-model="searchInput.entity.artPic"
                              typeahead="article as article.pic for article in cdrDrctSalesUtils.loadArticles($viewValue)" 
                              	typeahead-min-length="7"
                              typeahead-loading="loading" typeahead-on-select='onArticleSelectedInSearch($item, $model, $label)' >
	                   </div>
	                   <div class="form-group col-lg-2">
	                       <label class=" control-label" for="searchLotPic">{{cdrDrctSalesUtils.translations['InvInvtryItem_lotPic_description.title']}}</label>
                           <input type="text" ng- class="form-control" name="searchLotPic" id="searchLotPic" autocomplete="off" 
                           		ng-model="searchInput.entity.lotPic" ng-change="onArticleLotChangedInSearch()" uppercase>
	                   </div>
	               	</div>
	                <div class="row" >
	                   <div class="form-group col-lg-2">
	                       <label class=" control-label" for="searchSectionCode">{{cdrDrctSalesUtils.translations['InvInvtryItem_section_description.title']}}</label>
               		       <input type="text" ng-model="searchInput.entity.section" id="searchSectionCode" name="searchSectionCode" class="form-control"
                               autocomplete="off" typeahead="stkSection as (stkSection.strgSection + ' : ' + stkSection.sectionName) for stkSection in cdrDrctSalesUtils.loadStkSectionArticleLots($viewValue)"
                               typeahead-loading="loading" typeahead-min-length="4" typeahead-on-select='onSectionSelectedInSearch($item, $model, $label)'>
	                   </div>
	                   <div class="form-group col-lg-4">
	                       <label class=" control-label" for="searchSectionName">{{cdrDrctSalesUtils.translations['InvInvtryItem_sectionName_description.title']}}</label>
               		       <input type="text" ng-model="display.sectionName" id="searchSectionName" name="searchSectionName" class="form-control"
                               autocomplete="off" typeahead="stkSection as (stkSection.strgSection + ' : ' + stkSection.sectionName) for stkSection in cdrDrctSalesUtils.loadStkSectionArticleLotsByName($viewValue)"
                               typeahead-loading="loading" typeaheaod-min-length="4" typeahead-on-select='onSectionSelectedInSearch($item, $model, $label)'>
	                   </div>
	                   <div class="form-group col-lg-1">
	                       <label class=" control-label" for="searchRangeStart">{{cdrDrctSalesUtils.translations['InvInvtryItem_artNameStart_description.title']}}</label>
               		       <input type="text" ng-model="searchInput.rangeStart" id="searchRangeStart" name="searchRangeStart" class="form-control">
	                   </div>
	                   <div class="form-group col-lg-1">
	                       <label class=" control-label" for="searchRangeEnd">{{cdrDrctSalesUtils.translations['InvInvtryItem_artNameEnd_description.title']}}</label>
               		       <input type="text" ng-model="searchInput.rangeEnd" id="searchRangeEnd" name="searchRangeEnd" class="form-control">
	                   </div>
                       <div class="form-group col-lg-4">
                           <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                               <i class="glyphicon glyphicon-search"></i>
                           </button>
                           <button  ng-click="handleAlphabeticRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                               <i class="glyphicon glyphicon-sort-by-alphabet"></i>
                           </button>
                           <button  ng-click="handleResetRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                               <i class="glyphicon glyphicon-flash"></i>
                           </button>
	                       <button class="btn btn-default" ng-disabled="invInvtryItemForm.$invalid" ng-click="showAddItemPane()" style="margin-top: 23px;" ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
	                       		<i class="glyphicon glyphicon-plus"></i> {{commonTranslations.translations['Entity_add.title']}}
	                       </button>
                           <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                               <i class="glyphicon glyphicon-print"></i>
                           </button>
                       </div>
		            </div>
	          </form>
	        </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
        <div class="panel-heading">
        	<b> {{commonTranslations.translations['Entity_add.title']}} {{cdrDrctSalesUtils.translations['InvInvtryItem_description.title']}} </b> 
        	<button class="glyphicon glyphicon-triangle-right icon-blue pull-right" data-toggle="collapse" data-parent="#invIntryShowPanel" data-target="#invInvtryAddToggle"></button>
        </div>
        <div class="panel-collapse collapse" id="invInvtryAddToggle">
	        <div class="panel-body">
	            <form name="invInvtryItemForm" id="invInvtryItemForm" novalidate >
	                <div class="row" >
	                   <div class="form-group col-lg-3">
	                       <label class=" control-label" for="section">{{cdrDrctSalesUtils.translations['InvInvtryItem_section_description.title']}}</label>
	                       <div ng-class="{ 'has-error' : invInvtryItemForm.section.$invalid }" >
	               		     <input type="text" ng-model="invInvtryItemHolder.invtryItem.section" id="section" name="section" class="form-control"
	                               autocomplete="off" typeahead="stkSection as stkSection.name for stkSection in cdrDrctSalesUtils.loadSections($viewValue)"
	                               typeahead-loading="loading" typeahead-on-select='onSectionSelected($item, $model, $label)'>
	                       </div>
	                   </div>
	                   <div class="form-group col-lg-3">
	                       <label class=" control-label" for="lotPic">{{cdrDrctSalesUtils.translations['InvInvtryItem_lotPic_description.title']}}</label>
	                       <div ng-class="{ 'has-error' : invInvtryItemForm.lotPic.$invalid }" >
	                           <input type="text" ng- class="form-control" name="lotPic" id="lotPic" required autocomplete="off" 
	                           	ng-model="invInvtryItemHolder.invtryItem.lotPic"
	                              typeahead="articleLot as articleLot.pic for articleLot in cdrDrctSalesUtils.loadArticleLots($viewValue)"
	                              typeahead-loading="loading" typeahead-on-select='onArticleLotSelected($item, $model, $label)' >
	                       </div>
	                   </div>
	                   <div class="form-group col-lg-3">
	                       <label class=" control-label" for="artPic">{{cdrDrctSalesUtils.translations['InvInvtryItem_artPic_description.title']}}</label>
	                       <div ng-class="{ 'has-error' : invInvtryItemForm.artPic.$invalid }" >
	                           <input type="text" ng- class="form-control" name="artPic" id="artPic" required autocomplete="off" 
	                           	ng-model="invInvtryItemHolder.invtryItem.artPic"
	                              typeahead="article as article.pic for article in cdrDrctSalesUtils.loadArticles($viewValue)"
	                              typeahead-loading="loading" typeahead-on-select='onArticleSelected($item, $model, $label)' >
	                       </div>
	                   </div>
	                   <div class="form-group col-lg-3">
	                       <label class=" control-label" for="artName">{{cdrDrctSalesUtils.translations['InvInvtryItem_artName_description.title']}}</label>
	                       <div ng-class="{ 'has-error' : invInvtryItemForm.artName.$invalid }" >
	                           <input type="text" class="form-control" required id="artName" autocomplete="off" 
	                           	ng-model="invInvtryItemHolder.invtryItem.artName"
	                              typeahead="article as article.features.artName for article in cdrDrctSalesUtils.loadArticles($viewValue)"
	                              typeahead-loading="loading" typeahead-on-select='onArticleSelected($item, $model, $label)' name="artName" >
	                       </div>
	                   </div>
	                   <div class="form-group col-lg-3">
	                       <label class=" control-label" for="asseccedQty">{{cdrDrctSalesUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</label>
	                       <div ng-class="{ 'has-error' : invInvtryItemForm.asseccedQty.$invalid }" >
	                           <input type="text" class="form-control" required name="asseccedQty" id="asseccedQty" ng-model="invInvtryItemHolder.invtryItem.asseccedQty" >
	                       </div>
	                   </div>
	                   <div class="form-group col-lg-3">
	                       <label class=" control-label" for="asseccedQty">{{cdrDrctSalesUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</label>
	                       <button class="btn btn-default" ng-disabled="invInvtryItemForm.$invalid" ng-click="addItem()" ><i class="glyphicon glyphicon-plus"></i> {{commonTranslations.translations['Entity_add.title']}}</button>
	                   </div>
		            </div>
	          </form>
	        </div>
	    </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
        	<b> {{cdrDrctSalesUtils.translations['InvInvtryItem_description.title']}} </b> 
            <span class="pull-right">
                <a class="btn-danger btn" href="#/InvIntrys" ><i class="" ></i> {{commonTranslations.translations['Entity_list.title']}}</a>
            </span>
        </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['InvInvtryItem_section_description.title']}}</th>
                    <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['InvInvtryItem_lotPic_description.title']}}</th>
                    <th class="clo-lg-1">{{cdrDrctSalesUtils.translations['InvInvtryItem_artPic_description.title']}}</th>
                    <th class="col-lg-5">{{cdrDrctSalesUtils.translations['InvInvtryItem_artName_description.title']}}</th>
                    <th class="col-lg-1">{{cdrDrctSalesUtils.translations['InvInvtryItem_expirDt_description.title']}}</th>
                    <th class="col-lg-1">{{cdrDrctSalesUtils.translations['InvInvtryItem_acsngDt_description.title']}}</th>
                    <th class="col-lg-1">{{cdrDrctSalesUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</th>
                    <th class="col-lg-1" ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
                       	<span ng-show="!cdrDrctSale.deleting">
                        	<a ng-click="cdrDrctSale.deleting=true" class=""><i class="glyphicon glyphicon-trash"></i></a>
                       	</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="invtryItem in invInvtryItems()" ng-dblclick="editItem($index)">
                        <td>{{invtryItem.section}}</td>
                        <td>{{invtryItem.lotPic}}</td>
                        <td>{{invtryItem.artPic}}</td>
                        <td>{{invtryItem.artName}}</td>
                        <td><span ng-show="!invtryItem.editing">{{invtryItem.expirDt | date:'dd-MM-yyyy'}}</span>
                            <span class="" ng-show="invtryItem.editing">
                                <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                        ng-model="invtryItem.expirDt" class="form-control">
                            </span>
                        
                        </td>
                        <td>{{invtryItem.acsngDt | date:'dd-MM-yyyy HH:mm'}}</td>
                        <td><span ng-show="!invtryItem.editing">{{invtryItem.asseccedQty | number:0}}</span>
	                        <input type="text" name="asseccedQty"
	                        	ng-model="invtryItem.asseccedQty" ng-show="invtryItem.editing" ng-change="invtryItem.acsngDt=new Date()">
                        </td>
                        <td ng-show="cdrDrctSalesUtils.isInvInvtryEditable(invInvtry)">
                        	<span ng-show="!invtryItem.editing">
	                        	<a ng-click="invtryItem.editing=true" class=""><i class="glyphicon glyphicon-edit"></i></a>
                        	</span>
                        	<span ng-show="invtryItem.editing">
	                        	<a ng-click="saveItem(invtryItem)" class=""><i class="glyphicon glyphicon-save"></i></a>
                        	</span>
                        	<span ng-show="!invtryItem.editing && cdrDrctSale.deleting" class="pull-right">
	                        	<a ng-click="deleteItem(invtryItem)" class=""><i class="glyphicon glyphicon-trash"></i></a>
                        	</span>
                        	<span ng-show="invtryItem.editing" class="pull-right">
	                        	<a ng-click="cancelEditItem(invtryItem)" class=""><i class="glyphicon glyphicon-remove"></i></a>
                        	</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul  class="pull-right">
                <pagination  total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
            </ul>
        </div>
    </div>
</div>