<header ng-switch on="$location.path().indexOf('/SlsInvceStatuss/new') > -1">
    <h3 ng-switch-when="true">Create SlsInvceStatus</h3>
    <h3 ng-switch-when="false">View or edit SlsInvceStatus</h3>
</header>
<form id="SlsInvceStatusForm" name="SlsInvceStatusForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsInvceStatus" name="saveSlsInvceStatus" class="btn btn-primary" ng-disabled="isClean() || SlsInvceStatusForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsInvceStatus" name="deleteSlsInvceStatus" class="btn btn-danger" ng-show="slsInvceStatus.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>