<header ng-switch on="$location.path().indexOf('/ProcSteps/new') > -1">
    <h3 ng-switch-when="true">Create ProcStep</h3>
    <h3 ng-switch-when="false">View or edit ProcStep</h3>
</header>
<form id="ProcStepForm" name="ProcStepForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveProcStep" name="saveProcStep" class="btn btn-primary" ng-disabled="isClean() || ProcStepForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteProcStep" name="deleteProcStep" class="btn btn-danger" ng-show="procStep.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>