<div class="form-horizontal">
    <h3>Create a new CatalManufSuppl</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/CatalManufSuppls/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for CatalManufSuppls</h3>
    <form id="CatalManufSupplSearch" class="form-horizontal">
    <div class="control-group">
        <label for="name" class="control-label">Name</label>
        <div class="controls">
            <input id="name" name="name" type="text" ng-model="search.name" placeholder="Enter the CatalManufSuppl Name"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="msCode" class="control-label">Ms Code</label>
        <div class="controls">
            <input id="msCode" name="msCode" type="text" ng-model="search.msCode" placeholder="Enter the CatalManufSuppl Ms Code"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="mobile" class="control-label">Mobile</label>
        <div class="controls">
            <input id="mobile" name="mobile" type="text" ng-model="search.mobile" placeholder="Enter the CatalManufSuppl Mobile"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="fax" class="control-label">Fax</label>
        <div class="controls">
            <input id="fax" name="fax" type="text" ng-model="search.fax" placeholder="Enter the CatalManufSuppl Fax"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="email" class="control-label">Email</label>
        <div class="controls">
            <input id="email" name="email" type="text" ng-model="search.email" placeholder="Enter the CatalManufSuppl Email"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="zipCode" class="control-label">Zip Code</label>
        <div class="controls">
            <input id="zipCode" name="zipCode" type="text" ng-model="search.zipCode" placeholder="Enter the CatalManufSuppl Zip Code"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="country" class="control-label">Country</label>
        <div class="controls">
            <input id="country" name="country" type="text" ng-model="search.country" placeholder="Enter the CatalManufSuppl Country"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="internetSite" class="control-label">Internet Site</label>
        <div class="controls">
            <input id="internetSite" name="internetSite" type="text" ng-model="search.internetSite" placeholder="Enter the CatalManufSuppl Internet Site"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="responsable" class="control-label">Responsable</label>
        <div class="controls">
            <input id="responsable" name="responsable" type="text" ng-model="search.responsable" placeholder="Enter the CatalManufSuppl Responsable"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="revenue" class="control-label">Revenue</label>
        <div class="controls">
            <input id="revenue" name="revenue" type="text" ng-model="search.revenue" placeholder="Enter the CatalManufSuppl Revenue"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="taxIdNumber" class="control-label">Tax Id Number</label>
        <div class="controls">
            <input id="taxIdNumber" name="taxIdNumber" type="text" ng-model="search.taxIdNumber" placeholder="Enter the CatalManufSuppl Tax Id Number"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="contact" class="control-label">Contact</label>
        <div class="controls">
            <input id="contact" name="contact" type="text" ng-model="search.contact" placeholder="Enter the CatalManufSuppl Contact"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ms Code</th>
                <th>Mobile</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Zip Code</th>
                <th>Country</th>
                <th>Internet Site</th>
                <th>Responsable</th>
                <th>Revenue</th>
                <th>Tax Id Number</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.name}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.msCode}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.mobile}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.fax}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.email}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.zipCode}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.country}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.internetSite}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.responsable}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.revenue}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.taxIdNumber}}</a></td>
                <td><a href="#/CatalManufSuppls/edit/{{result.id}}">{{result.contact}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>