<header ng-switch on="$location.path().indexOf('/DynEnums/new') > -1">
    <h3 ng-switch-when="true">Create DynEnum</h3>
    <h3 ng-switch-when="false">View or edit DynEnum</h3>
</header>
<form id="DynEnumForm" name="DynEnumForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: DynEnumForm.enumKey.$invalid}">
        <label for="enumKey" class="control-label">Enum Key</label>
        <div id="enumKeyControls" class="controls">
            <input id="enumKey" name="enumKey" type="text" required ng-model="dynEnum.enumKey" placeholder="Enter the DynEnum Enum Key"></input>
            <span class="help-inline" ng-show="DynEnumForm.enumKey.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: DynEnumForm.langIso2.$invalid}">
        <label for="langIso2" class="control-label">Lang Iso 2</label>
        <div id="langIso2Controls" class="controls">
            <input id="langIso2" name="langIso2" type="text" required ng-model="dynEnum.langIso2" placeholder="Enter the DynEnum Lang Iso 2"></input>
            <span class="help-inline" ng-show="DynEnumForm.langIso2.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: DynEnumForm.name.$invalid}">
        <label for="name" class="control-label">Name</label>
        <div id="nameControls" class="controls">
            <input id="name" name="name" type="text" required ng-model="dynEnum.name" placeholder="Enter the DynEnum Name"></input>
            <span class="help-inline" ng-show="DynEnumForm.name.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: DynEnumForm.description.$invalid}">
        <label for="description" class="control-label">Description</label>
        <div id="descriptionControls" class="controls">
            <input id="description" name="description" type="text" required ng-maxlength="256" ng-model="dynEnum.description" placeholder="Enter the DynEnum Description"></input>
            <span class="help-inline" ng-show="DynEnumForm.description.$error.required">required</span> 
            <span class="help-inline" ng-show="DynEnumForm.description.$error.maxlength">maximum length is 256</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveDynEnum" name="saveDynEnum" class="btn btn-primary" ng-disabled="isClean() || DynEnumForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteDynEnum" name="deleteDynEnum" class="btn btn-danger" ng-show="dynEnum.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>