<header ng-switch on="$location.path().indexOf('/PrcmtProcOrders/new') > -1">
    <h3 ng-switch-when="true">Create PrcmtProcOrder</h3>
    <h3 ng-switch-when="false">View or edit PrcmtProcOrder</h3>
</header>
<form id="PrcmtProcOrderForm" name="PrcmtProcOrderForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.orderDt.$invalid}">
        <label for="orderDt" class="control-label">Order Dt</label>
        <div id="orderDtControls" class="controls">
            <datetime id="orderDt" name="orderDt" required ng-model="prcmtProcOrder.orderDt" placeholder="Enter the PrcmtProcOrder Order Dt"></datetime>
            <span class="help-inline" ng-show="PrcmtProcOrderForm.orderDt.$error.required">required</span> 
            <span class="help-inline" ng-show="PrcmtProcOrderForm.orderDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.poNbr.$invalid}">
        <label for="poNbr" class="control-label">Po Nbr</label>
        <div id="poNbrControls" class="controls">
            <input id="poNbr" name="poNbr" type="text" required ng-model="prcmtProcOrder.poNbr" placeholder="Enter the PrcmtProcOrder Po Nbr"></input>
            <span class="help-inline" ng-show="PrcmtProcOrderForm.poNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.supplier.$invalid}">
        <label for="supplier" class="control-label">Supplier</label>
        <div id="supplierControls" class="controls">
            <input id="supplier" name="supplier" type="text" ng-model="prcmtProcOrder.supplier" placeholder="Enter the PrcmtProcOrder Supplier"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.poCur.$invalid}">
        <label for="poCur" class="control-label">Po Cur</label>
        <div id="poCurControls" class="controls">
            <input id="poCur" name="poCur" type="text" ng-model="prcmtProcOrder.poCur" placeholder="Enter the PrcmtProcOrder Po Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.grossPPPreTax.$invalid}">
        <label for="grossPPPreTax" class="control-label">Gross PP Pre Tax</label>
        <div id="grossPPPreTaxControls" class="controls">
            <input id="grossPPPreTax" name="grossPPPreTax" type="text" ng-model="prcmtProcOrder.grossPPPreTax" placeholder="Enter the PrcmtProcOrder Gross PP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.rebate.$invalid}">
        <label for="rebate" class="control-label">Rebate</label>
        <div id="rebateControls" class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="prcmtProcOrder.rebate" placeholder="Enter the PrcmtProcOrder Rebate"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.netPPPreTax.$invalid}">
        <label for="netPPPreTax" class="control-label">Net PP Pre Tax</label>
        <div id="netPPPreTaxControls" class="controls">
            <input id="netPPPreTax" name="netPPPreTax" type="text" ng-model="prcmtProcOrder.netPPPreTax" placeholder="Enter the PrcmtProcOrder Net PP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.vatAmount.$invalid}">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div id="vatAmountControls" class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="prcmtProcOrder.vatAmount" placeholder="Enter the PrcmtProcOrder Vat Amount"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.netPPTaxIncl.$invalid}">
        <label for="netPPTaxIncl" class="control-label">Net PP Tax Incl</label>
        <div id="netPPTaxInclControls" class="controls">
            <input id="netPPTaxIncl" name="netPPTaxIncl" type="text" ng-model="prcmtProcOrder.netPPTaxIncl" placeholder="Enter the PrcmtProcOrder Net PP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.pymtDscntPct.$invalid}">
        <label for="pymtDscntPct" class="control-label">Pymt Dscnt Pct</label>
        <div id="pymtDscntPctControls" class="controls">
            <input id="pymtDscntPct" name="pymtDscntPct" type="text" ng-model="prcmtProcOrder.pymtDscntPct" placeholder="Enter the PrcmtProcOrder Pymt Dscnt Pct"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.pymtDscntAmt.$invalid}">
        <label for="pymtDscntAmt" class="control-label">Pymt Dscnt Amt</label>
        <div id="pymtDscntAmtControls" class="controls">
            <input id="pymtDscntAmt" name="pymtDscntAmt" type="text" ng-model="prcmtProcOrder.pymtDscntAmt" placeholder="Enter the PrcmtProcOrder Pymt Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.netPurchAmt.$invalid}">
        <label for="netPurchAmt" class="control-label">Net Purch Amt</label>
        <div id="netPurchAmtControls" class="controls">
            <input id="netPurchAmt" name="netPurchAmt" type="text" ng-model="prcmtProcOrder.netPurchAmt" placeholder="Enter the PrcmtProcOrder Net Purch Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.rdngDscntAmt.$invalid}">
        <label for="rdngDscntAmt" class="control-label">Rdng Dscnt Amt</label>
        <div id="rdngDscntAmtControls" class="controls">
            <input id="rdngDscntAmt" name="rdngDscntAmt" type="text" ng-model="prcmtProcOrder.rdngDscntAmt" placeholder="Enter the PrcmtProcOrder Rdng Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.netAmtToPay.$invalid}">
        <label for="netAmtToPay" class="control-label">Net Amt To Pay</label>
        <div id="netAmtToPayControls" class="controls">
            <input id="netAmtToPay" name="netAmtToPay" type="text" ng-model="prcmtProcOrder.netAmtToPay" placeholder="Enter the PrcmtProcOrder Net Amt To Pay"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.submitedDt.$invalid}">
        <label for="submitedDt" class="control-label">Submited Dt</label>
        <div id="submitedDtControls" class="controls">
            <datetime id="submitedDt" name="submitedDt" ng-model="prcmtProcOrder.submitedDt" placeholder="Enter the PrcmtProcOrder Submited Dt"></datetime>
            <span class="help-inline" ng-show="PrcmtProcOrderForm.submitedDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.ordrngOrgUnit.$invalid}">
        <label for="ordrngOrgUnit" class="control-label">Ordrng Org Unit</label>
        <div id="ordrngOrgUnitControls" class="controls">
            <input id="ordrngOrgUnit" name="ordrngOrgUnit" type="text" ng-model="prcmtProcOrder.ordrngOrgUnit" placeholder="Enter the PrcmtProcOrder Ordrng Org Unit"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.creatingUsr.$invalid}">
        <label for="creatingUsr" class="control-label">Creating Usr</label>
        <div id="creatingUsrControls" class="controls">
            <input id="creatingUsr" name="creatingUsr" type="text" required ng-model="prcmtProcOrder.creatingUsr" placeholder="Enter the PrcmtProcOrder Creating Usr"></input>
            <span class="help-inline" ng-show="PrcmtProcOrderForm.creatingUsr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.createdDt.$invalid}">
        <label for="createdDt" class="control-label">Created Dt</label>
        <div id="createdDtControls" class="controls">
            <datetime id="createdDt" name="createdDt" required ng-model="prcmtProcOrder.createdDt" placeholder="Enter the PrcmtProcOrder Created Dt"></datetime>
            <span class="help-inline" ng-show="PrcmtProcOrderForm.createdDt.$error.required">required</span> 
            <span class="help-inline" ng-show="PrcmtProcOrderForm.createdDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.poTriggerMode.$invalid}">
        <label for="poTriggerMode" class="control-label">Po Trigger Mode</label>
        <div id="poTriggerModeControls" class="controls">
        <select id="poTriggerMode" name="poTriggerMode" ng-model="prcmtProcOrder.poTriggerMode" ng-options="p for p in poTriggerModeList" required >
            <option value="">Choose a Po Trigger Mode</option>
        </select>
        <span class="help-inline" ng-show="PrcmtProcOrderForm.poTriggerMode.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.poType.$invalid}">
        <label for="poType" class="control-label">Po Type</label>
        <div id="poTypeControls" class="controls">
        <select id="poType" name="poType" ng-model="prcmtProcOrder.poType" ng-options="p for p in poTypeList" required >
            <option value="">Choose a Po Type</option>
        </select>
        <span class="help-inline" ng-show="PrcmtProcOrderForm.poType.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: PrcmtProcOrderForm.poStatus.$invalid}">
        <label for="poStatus" class="control-label">Po Status</label>
        <div id="poStatusControls" class="controls">
        <select id="poStatus" name="poStatus" ng-model="prcmtProcOrder.poStatus" ng-options="p for p in poStatusList" required >
            <option value="">Choose a Po Status</option>
        </select>
        <span class="help-inline" ng-show="PrcmtProcOrderForm.poStatus.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="savePrcmtProcOrder" name="savePrcmtProcOrder" class="btn btn-primary" ng-disabled="isClean() || PrcmtProcOrderForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deletePrcmtProcOrder" name="deletePrcmtProcOrder" class="btn btn-danger" ng-show="prcmtProcOrder.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>