<header ng-switch on="$location.path().indexOf('/SlsInvceHistorys/new') > -1">
    <h3 ng-switch-when="true">Create SlsInvceHistory</h3>
    <h3 ng-switch-when="false">View or edit SlsInvceHistory</h3>
</header>
<form id="SlsInvceHistoryForm" name="SlsInvceHistoryForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.invceNbr.$invalid}">
        <label for="invceNbr" class="control-label">Invce Nbr</label>
        <div id="invceNbrControls" class="controls">
            <input id="invceNbr" name="invceNbr" type="text" required ng-model="slsInvceHistory.invceNbr" placeholder="Enter the SlsInvceHistory Invce Nbr"></input>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.invceNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.invceStatus.$invalid}">
        <label for="invceStatus" class="control-label">Invce Status</label>
        <div id="invceStatusControls" class="controls">
            <input id="invceStatus" name="invceStatus" type="text" required ng-model="slsInvceHistory.invceStatus" placeholder="Enter the SlsInvceHistory Invce Status"></input>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.invceStatus.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.hstryDt.$invalid}">
        <label for="hstryDt" class="control-label">Hstry Dt</label>
        <div id="hstryDtControls" class="controls">
            <datetime id="hstryDt" name="hstryDt" required ng-model="slsInvceHistory.hstryDt" placeholder="Enter the SlsInvceHistory Hstry Dt"></datetime>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.hstryDt.$error.required">required</span> 
            <span class="help-inline" ng-show="SlsInvceHistoryForm.hstryDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.orignLogin.$invalid}">
        <label for="orignLogin" class="control-label">Orign Login</label>
        <div id="orignLoginControls" class="controls">
            <input id="orignLogin" name="orignLogin" type="text" required ng-model="slsInvceHistory.orignLogin" placeholder="Enter the SlsInvceHistory Orign Login"></input>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.orignLogin.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.orignWrkspc.$invalid}">
        <label for="orignWrkspc" class="control-label">Orign Wrkspc</label>
        <div id="orignWrkspcControls" class="controls">
            <input id="orignWrkspc" name="orignWrkspc" type="text" required ng-model="slsInvceHistory.orignWrkspc" placeholder="Enter the SlsInvceHistory Orign Wrkspc"></input>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.orignWrkspc.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.procStep.$invalid}">
        <label for="procStep" class="control-label">Proc Step</label>
        <div id="procStepControls" class="controls">
            <input id="procStep" name="procStep" type="text" required ng-model="slsInvceHistory.procStep" placeholder="Enter the SlsInvceHistory Proc Step"></input>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.procStep.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.hstryType.$invalid}">
        <label for="hstryType" class="control-label">Hstry Type</label>
        <div id="hstryTypeControls" class="controls">
            <input id="hstryType" name="hstryType" type="text" required ng-model="slsInvceHistory.hstryType" placeholder="Enter the SlsInvceHistory Hstry Type"></input>
            <span class="help-inline" ng-show="SlsInvceHistoryForm.hstryType.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.comment.$invalid}">
        <label for="comment" class="control-label">Comment</label>
        <div id="commentControls" class="controls">
            <input id="comment" name="comment" type="text" ng-model="slsInvceHistory.comment" placeholder="Enter the SlsInvceHistory Comment"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceHistoryForm.addtnlInfo.$invalid}">
        <label for="addtnlInfo" class="control-label">Addtnl Info</label>
        <div id="addtnlInfoControls" class="controls">
            <input id="addtnlInfo" name="addtnlInfo" type="text" ng-model="slsInvceHistory.addtnlInfo" placeholder="Enter the SlsInvceHistory Addtnl Info"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsInvceHistory" name="saveSlsInvceHistory" class="btn btn-primary" ng-disabled="isClean() || SlsInvceHistoryForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsInvceHistory" name="deleteSlsInvceHistory" class="btn btn-danger" ng-show="slsInvceHistory.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>