<div class="form-horizontal">
    <h3>Create a new SlsInvceHistory</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/SlsInvceHistorys/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for SlsInvceHistorys</h3>
    <form id="SlsInvceHistorySearch" class="form-horizontal">
    <div class="control-group">
        <label for="invceNbr" class="control-label">Invce Nbr</label>
        <div class="controls">
            <input id="invceNbr" name="invceNbr" type="text" ng-model="search.invceNbr" placeholder="Enter the SlsInvceHistory Invce Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="invceStatus" class="control-label">Invce Status</label>
        <div class="controls">
            <input id="invceStatus" name="invceStatus" type="text" ng-model="search.invceStatus" placeholder="Enter the SlsInvceHistory Invce Status"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="orignLogin" class="control-label">Orign Login</label>
        <div class="controls">
            <input id="orignLogin" name="orignLogin" type="text" ng-model="search.orignLogin" placeholder="Enter the SlsInvceHistory Orign Login"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="orignWrkspc" class="control-label">Orign Wrkspc</label>
        <div class="controls">
            <input id="orignWrkspc" name="orignWrkspc" type="text" ng-model="search.orignWrkspc" placeholder="Enter the SlsInvceHistory Orign Wrkspc"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="procStep" class="control-label">Proc Step</label>
        <div class="controls">
            <input id="procStep" name="procStep" type="text" ng-model="search.procStep" placeholder="Enter the SlsInvceHistory Proc Step"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="hstryType" class="control-label">Hstry Type</label>
        <div class="controls">
            <input id="hstryType" name="hstryType" type="text" ng-model="search.hstryType" placeholder="Enter the SlsInvceHistory Hstry Type"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="comment" class="control-label">Comment</label>
        <div class="controls">
            <input id="comment" name="comment" type="text" ng-model="search.comment" placeholder="Enter the SlsInvceHistory Comment"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="addtnlInfo" class="control-label">Addtnl Info</label>
        <div class="controls">
            <input id="addtnlInfo" name="addtnlInfo" type="text" ng-model="search.addtnlInfo" placeholder="Enter the SlsInvceHistory Addtnl Info"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Invce Nbr</th>
                <th>Invce Status</th>
                <th>Hstry Dt</th>
                <th>Orign Login</th>
                <th>Orign Wrkspc</th>
                <th>Proc Step</th>
                <th>Hstry Type</th>
                <th>Comment</th>
                <th>Addtnl Info</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.invceNbr}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.invceStatus}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.hstryDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.orignLogin}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.orignWrkspc}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.procStep}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.hstryType}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.comment}}</a></td>
                <td><a href="#/SlsInvceHistorys/edit/{{result.id}}">{{result.addtnlInfo}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>