<div class="row" ng-cloak id="invIntryComparePanel" class="panel-group">
       <div class="panel panel-default ">
           <div class="panel-body">
               <div class="col-lg-12">
                   <div class="table-overflow-scroll row">
                       <table class="table table-bordered  table-striped pointer-element" >
                           <thead>
                           <tr>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_section_description.title']}}</th>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_artPic_description.title']}}</th>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_lotPic_description.title']}}</th>
			                    <th rowspan="2">{{invInvtryUtils.translations['InvInvtryItem_artName_description.title']}}</th>
			                    <th colspan="3" ng-repeat="invtryNbr in searchInput.entity.invtryNbrs">{{invtryNbr}}</th>
			                    <th rowspan="2">
                               		<span ng-show="!invInvtry.conflictDt"><i class="glyphicon glyphicon-ok-circle" style="color:green"></i></span>
                               		<span ng-show="invInvtry.conflictDt"><i class="glyphicon glyphicon-ban-circle" style="color:red"></i></span>
			                    </th>
			               </tr>
                           <tr>
			                    <th ng-repeat-start="invtryNbr in searchInput.entity.invtryNbrs">{{invInvtryUtils.translations['InvInvtryItem_acsngUser_description.title']}}</th>
			                   	<th>{{invInvtryUtils.translations['InvInvtryItem_acsngDt_description.title']}}</th>
			                    <th ng-repeat-end>{{invInvtryUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr ng-repeat="invtryItemList in invtryItemLists()">
                               <td>{{invtryItemList.section}}</td>
                               <td>{{invtryItemList.artPic}}</td>
                               <td>{{invtryItemList.lotPic}}</td>
                               <td>{{invtryItemList.artName}}</td>
			                   <td ng-repeat-start="invtryItem in invtryItemList.sortedItems">
			                   	{{invtryItem.acsngUser}}
			                   	<table ng-show="invtryItem.others"><tr ng-repeat="other in invtryItem.others"><td>{{other.acsngUser}}</td></tr></table>
			                   </td>
					           <td>
					           		{{invtryItem.acsngDt | date:'yyyy-MM-dd HH:mm'}}
			                   		<table ng-show="invtryItem.others"><tr ng-repeat="other in invtryItem.others"><td>{{other.acsngDt | date:'yyyy-MM-dd HH:mm'}}</td></tr></table>
					           </td>
					           <td ng-repeat-end>
					           		{{invtryItem.asseccedQty | number:0}}
			                   		<table ng-show="invtryItem.others"><tr ng-repeat="other in invtryItem.others"><td>{{other.asseccedQty | number:0}}</td></tr></table>
					           </td>
                               <td>
                               		<span ng-show="invtryItemList.sameQty"><i class="glyphicon glyphicon-ok-circle" style="color:green"></i></span>
                               		<span ng-show="!invtryItemList.sameQty"><i class="glyphicon glyphicon-ban-circle" style="color:red"></i></span>
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
                   <ul  class="pull-right">
                       <pagination  total-items="totalItems()" items-per-page="itemPerPage()"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
                   </ul>
               </div>
           </div>
       </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                	<span class="pull-left">
		                <a class="btn-danger btn" href="#/InvInvtrys" ><i class="glyphicon glyphicon-list" ></i> {{invInvtryUtils.translations['Entity_list.title']}}</a>
                	</span>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
</div>
