<div>
    <div class="well">
        <h4>
            <a>{{invInvtryShowCtlr.invInvtry.invtryNbr}}</a> {{"Entity_Of.title" | translate}} {{invInvtryShowCtlr.invInvtry.invtryDt | date:'dd-MM-yyyy'}},
            <b> {{"Entity_By.title" | translate}} : </b>{{invInvtryShowCtlr.invInvtry.acsngUser}},
            <b>{{"InvInvtry_invtryStatus_description.title" | translate}} :</b> {{invInvtryShowCtlr.invInvtry.invtryStatus}}
            <p class="pull-right">
                <a class=" btn btn-default" href="#/"  type="button">Cancel</a>
                <button class=" btn btn-primary" ng-click="invInvtryShowCtlr.save()" type="button">{{ "Entity_save.title" | translate }} </button>
                <button class=" btn btn-primary" ng-click="invInvtryShowCtlr.close()" type="button">{{"Entity_saveleave.title" | translate}} </button>
            </p>
        </h4>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b> {{"Entity_add.title"|translate}} {{"InvInvtryItem_description.title" | translate}} </b> </div>
        <div class="panel-body">
            <form name="invInvtryItemForm" id="invInvtryItemForm" novalidate >
            <table class="table table-bordered" >
                <thead>
                <tr>
                    <th class="clo-lg-2">CIP</th>
                    <th class="col-lg-3">Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte Reelle</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                            <input type="hidden" value="{{invInvtryShowCtlr.invInvtry.dlvryNbr}}" ng-model="invInvtryShowCtlr.invInvtryItemHolder.invInvtryItem.invtryNbr" >
                            <td>
                                <div ng-class="{ 'has-error' : invInvtryItemForm.artPic.$invalid }" >
                                    <input type="text" ng- class="form-control" name="artPic" id="artPic" required autocomplete="off" ng-model="invInvtryShowCtlr.invInvtryItemHolder.invInvtryItem.artPic"
                                       typeahead="article as article.pic for article in  invInvtryShowCtlr.loadArticlesByCipLike($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='invInvtryShowCtlr.onSelect($item, $model, $label)' >
                                </div>
                            </td>
                            <td>
                                <div ng-class="{ 'has-error' : invInvtryItemForm.artName.$invalid }" >
                                    <input type="text" class="form-control" required id="artName" autocomplete="off" ng-model="invInvtryShowCtlr.invInvtryItemHolder.invInvtryItem.artName"
                                       typeahead="article as article.features.artName for article in  invInvtryShowCtlr.loadArticlesByNameLike($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='invInvtryShowCtlr.onSelect($item, $model, $label)' name="artName" >
                                </div>
                            </td>
                            <td><input type="text" class="form-control" disabled ></td>
                            <td>
                                <div ng-class="{ 'has-error' : invInvtryItemForm.qtyDlvrd.$invalid }" >
                                    <input type="text" class="form-control" required name="qtyDlvrd" id="qtyDlvrd" ng-model="invInvtryShowCtlr.invInvtryItemHolder.invInvtryItem.qtyDlvrd" >
                                </div>
                            </td>
                           
                            <td><button class="btn btn-default" ng-disabled="invInvtryItemForm.$invalid" ng-click="invInvtryShowCtlr.addItem()" ><i class="glyphicon glyphicon-plus"></i> Add</button></td>

                    </tr>
                </tbody>
            </table>
          </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b> {{"InvInvtryItem_description.title" | translate}} </b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="col-lg-2" >CIP</th>
                    <th class="col-lg-3" >Designation</th>
                    <th>Qte Stock</th>
                    <th>Qte</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="invInvtryItemHolder in invInvtryShowCtlr.invInvtryItemHolders"  >
                        <td>{{invInvtryItemHolder.invInvtryItem.artPic}}</td>
                        <td>{{invInvtryItemHolder.invInvtryItem.artName}}</td>
                        <td>{{invInvtryItemHolder.invInvtryItem.artName}}</td>
                        <td>{{invInvtryItemHolder.invInvtryItem.qtyDlvrd}}</td>
                        <td><a ng-click="invInvtryShowCtlr.editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td><a ng-click="invInvtryShowCtlr.deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>