<div ng-cloak>
    <div class="well" ng-show="invInvtryUtils.isInvInvtryEditable(invInvtry)">
        <h5 style="height: 130px;">
            <p class="pull-left">
                <span><b>{{invInvtryUtils.translations['InvInvtry_invtryDt_description.title']}} :</b> 
                    {{invInvtry.invtryDt | date:'dd MMM yyyy'}}
                </span><br><br>
                <span><b>{{invInvtryUtils.translations['Entity_By.title']}} :</b>
                    {{invInvtry.acsngUser}}
                </span><br><br>
                <span><b>{{invInvtryUtils.translations['InvInvtry_invtryStatus_description.title']}} :</b>    {{invInvtryUtils.invInvntrStatusI18nMsgTitleValue(invInvtry.invtryStatus)}} 
                </span><br><br>
                <span><b>{{invInvtryUtils.translations['InvInvtry_invInvtryType_description.title']}} :</b> {{invInvtryUtils.invInvtryTypeI18nMsgTitleValue(invInvtry.invInvtryType)}}
                </span><br><br>
                <span><b>{{invInvtryUtils.translations['InvInvtry_descptn_description.title']}} :</b> 
                    {{invInvtry.descptn}}
                </span>
            
            </p>
            <p class="pull-right">
                <a class=" btn btn-default" href="#/"  type="button">Cancel</a>
                <button class=" btn btn-primary" ng-click="save()" type="button">{{invInvtryUtils.translations['Entity_save.title']}} </button>
                <button class=" btn btn-primary" ng-click="close()" type="button">{{invInvtryUtils.translations['Entity_saveleave.title']}} </button>
            </p>
        </h5>
    </div>
    <div class="panel panel-default" ng-show="invInvtryUtils.isInvInvtryEditable(invInvtry)">
        <div class="panel-heading"><b> {{invInvtryUtils.translations['Entity_add.title']}} {{invInvtryUtils.translations['InvInvtryItem_description.title']}} </b> </div>
        <div class="panel-body">
            <form name="invInvtryItemForm" id="invInvtryItemForm" novalidate >
                <div class="row" >
                   <div class="form-group col-lg-3">
                       <label class=" control-label" for="section">{{invInvtryUtils.translations['InvInvtryItem_section_description.title']}}</label>
                       <div ng-class="{ 'has-error' : invInvtryItemForm.section.$invalid }" >
               		     <input type="text" ng-model="invInvtryItemHolder.invtryItem.section" id="section" name="section" class="form-control"
                               autocomplete="off" typeahead="stkSection as stkSection.name for stkSection in invInvtryUtils.loadSections($viewValue)"
                               typeahead-loading="loading" typeahead-on-select='onSectionSelected($item, $model, $label)'>
                       </div>
                   </div>
                   <div class="form-group col-lg-3">
                       <label class=" control-label" for="lotPic">{{invInvtryUtils.translations['InvInvtryItem_lotPic_description.title']}}</label>
                       <div ng-class="{ 'has-error' : invInvtryItemForm.lotPic.$invalid }" >
                           <input type="text" ng- class="form-control" name="lotPic" id="lotPic" required autocomplete="off" 
                           	ng-model="invInvtryItemHolder.invtryItem.lotPic"
                              typeahead="articleLot as articleLot.pic for articleLot in invInvtryUtils.loadArticleLots($viewValue)"
                              typeahead-loading="loading" typeahead-on-select='onArticleLotSelected($item, $model, $label)' >
                       </div>
                   </div>
                   <div class="form-group col-lg-3">
                       <label class=" control-label" for="artPic">{{invInvtryUtils.translations['InvInvtryItem_artPic_description.title']}}</label>
                       <div ng-class="{ 'has-error' : invInvtryItemForm.artPic.$invalid }" >
                           <input type="text" ng- class="form-control" name="artPic" id="artPic" required autocomplete="off" 
                           	ng-model="invInvtryItemHolder.invtryItem.artPic"
                              typeahead="article as article.pic for article in invInvtryUtils.loadArticles($viewValue)"
                              typeahead-loading="loading" typeahead-on-select='onArticleSelected($item, $model, $label)' >
                       </div>
                   </div>
                   <div class="form-group col-lg-3">
                       <label class=" control-label" for="artName">{{invInvtryUtils.translations['InvInvtryItem_artName_description.title']}}</label>
                       <div ng-class="{ 'has-error' : invInvtryItemForm.artName.$invalid }" >
                           <input type="text" class="form-control" required id="artName" autocomplete="off" 
                           	ng-model="invInvtryItemHolder.invtryItem.artName"
                              typeahead="article as article.features.artName for article in invInvtryUtils.loadArticles($viewValue)"
                              typeahead-loading="loading" typeahead-on-select='onArticleSelected($item, $model, $label)' name="artName" >
                       </div>
                   </div>
                   <div class="form-group col-lg-3">
                       <label class=" control-label" for="asseccedQty">{{invInvtryUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</label>
                       <div ng-class="{ 'has-error' : invInvtryItemForm.asseccedQty.$invalid }" >
                           <input type="text" class="form-control" required name="asseccedQty" id="asseccedQty" ng-model="invInvtryItemHolder.invtryItem.asseccedQty" >
                       </div>
                   </div>
                   <div class="form-group col-lg-3">
                       <label class=" control-label" for="asseccedQty">{{invInvtryUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</label>
                       <button class="btn btn-default" ng-disabled="invInvtryItemForm.$invalid" ng-click="addItem()" ><i class="glyphicon glyphicon-plus"></i> {{invInvtryUtils.translations['Entity_add.title']}}</button>
                   </div>
	            </div>
          </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b> {{invInvtryUtils.translations['InvInvtryItem_description.title']}} </b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="clo-lg-2">{{invInvtryUtils.translations['InvInvtryItem_section_description.title']}}</th>
                    <th class="clo-lg-1">{{invInvtryUtils.translations['InvInvtryItem_lotPic_description.title']}}</th>
                    <th class="clo-lg-1">{{invInvtryUtils.translations['InvInvtryItem_artPic_description.title']}}</th>
                    <th class="col-lg-5">{{invInvtryUtils.translations['InvInvtryItem_artName_description.title']}}</th>
                    <th class="col-lg-2" ng-show="invInvtryUtils.isInvInvtryEditable(invInvtry)">{{invInvtryUtils.translations['InvInvtryItem_asseccedQty_description.title']}}</th>
                    <th class="col-lg-1" ng-show="invInvtryUtils.isInvInvtryEditable(invInvtry)"></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="itemHolder in invInvtryItemHolders" ng-dblclick="editItem($index)">
                        <td>{{itemHolder.invtryItem.section}}</td>
                        <td>{{itemHolder.invtryItem.lotPic}}</td>
                        <td>{{itemHolder.invtryItem.artPic}}</td>
                        <td>{{itemHolder.invtryItem.artName}}</td>
                        <td>{{itemHolder.invtryItem.asseccedQty | number:0}}</td>
                        <td ng-show="invInvtryUtils.isInvInvtryEditable(invInvtry)"><a ng-click="editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                        <td ng-show="invInvtryUtils.isInvInvtryEditable(invInvtry)"><a ng-click="deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>