<div class="row" ng-cloak>
        <div class="panel panel-default  ng-scope">
            <div class="panel-heading no-collapse">
                <div class="row">
                    <div class="col-lg-3">
                        <b>{{invInvtryUtils.translations['Entity_search.title']}}</b>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <form role="form" class="">
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="invtryNbr">{{invInvtryUtils.translations['InvInvtry_invtryNbr_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="invtryNbr" ng-model="searchInput.entity.invtryNbr" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="acsngUser">{{invInvtryUtils.translations['InvInvtry_acsngUser_description.title']}}</label>
                                    <div class="">
			                            <input type="text" ng-model="searchInput.acsngUser" id="acsngUser" name="acsngUser" class="form-control"
			                                   autocomplete="off" typeahead="acsngUser as acsngUser.fullName for acsngUser in invInvtryUtils.loadUsers($viewValue)"
			                                   typeahead-loading="loading">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="invtryStatus">{{invInvtryUtils.translations['InvInvtry_invtryStatus_description.title']}}</label>
                                    <div class="">
							            <select class="form-control" name="invtryStatus" id="invtryStatus" ng-model="searchInput.entity.invtryStatus"
							                    ng-options="invtryStatus.enumKey as invInvtryUtils.translations[invtryStatus.translKey]
							                    	for invtryStatus in invInvtryUtils.invInvntrStati" >
							                    <option value=""/>
										</select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <button  ng-click="handleSearchRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                    <button  ng-click="handlePrintRequestEvent()" class="btn btn-default " style="margin-top: 23px;" >
                                        <i class="glyphicon glyphicon-print"></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="invtryDtFrom">{{invInvtryUtils.translations['InvInvtry_invtryDtFrom_description.title']}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                               id="invtryDtFrom" ng-model="searchInput.invtryDtFrom" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="invtryDtTo">{{invInvtryUtils.translations['InvInvtry_invtryDtTo_description.title']}}</label>
                                    <div class="">
                                        <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                               id="invtryDtTo" ng-model="searchInput.invtryDtTo" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="gapPurchAmtHT">{{invInvtryUtils.translations['InvInvtry_gapPurchAmtHTFrom_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="gapPurchAmtHT" ng-model="searchInput.gapPurchAmtHTFrom" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class=" control-label" for="gapPurchAmtHT">{{invInvtryUtils.translations['InvInvtry_gapPurchAmtHTTo_description.title']}}</label>
                                    <div class="">
                                        <input type="text" id="gapPurchAmtHT" ng-model="searchInput.gapPurchAmtHTTo" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>

        <div class="panel panel-default ">
            <div class="panel-heading no-collapse"><b>{{invInvtryUtils.translations['InvInvtry_description.title']}}</b></div>
            <div class="panel-body">
                <div class="col-lg-12">
                    <div  class="row">
                        <a class="btn btn-primary pull-right margBott10" href="#/InvInvtrys/new" >
                            <i class="glyphicon-plus"></i> {{invInvtryUtils.translations['Entity_create.title']}}
                        </a>

                    </div>
                    <div class="table-overflow-middle row">
                        <table class="table table-bordered  table-striped pointer-element" >
                            <thead>
                            <tr>
                                <th>{{invInvtryUtils.translations['InvInvtry_invtryNbr_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_acsngUser_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_acsngDt_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_gapSaleAmtHT_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_gapPurchAmtHT_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_invtryStatus_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_descptn_description.title']}}</th>
                                <th>{{invInvtryUtils.translations['InvInvtry_invtryDt_description.title']}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="invtry in invInvtrys" >
                                <td>{{invtry.invtryNbr}}</td>
                                <td>{{invtry.acsngUser}}</td>
                                <td>{{invtry.acsngDt | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{invtry.gapSaleAmtHT}}</td>
                                <td>{{invtry.gapPurchAmtHT}}</td>
                                <td>{{invtry.invtryStatus}}</td>
                                <td>{{invtry.descptn}}</td>
                                <td>{{invtry.invtryDt | date:'yyyy-MM-dd HH:mm'}}</td>
                                <td><a href="#/InvInvtrys/show/{{invtry.id}}" ><i class="glyphicon glyphicon-eye-open"></i></a></td>
                                <td><a href="#/InvInvtrys/edit/{{invtry.id}}" ><i class="glyphicon glyphicon-edit"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul  class="pull-right">
                        <pagination  total-items="totalItems" items-per-page="itemPerPage"  class="pagination-sm" ng-model="currentPage" ng-change="paginate()"></pagination>
                    </ul>
                </div>

            </div>
        </div>
</div>
