<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ "Entity_create.title"| translate}}</b> </div>
            <div class="panel-body">
                <label class="error col-lg-offset-3 alert-danger" >{{invtryCreateCtlr.error}} </label>
                <form  name="InvInvtry" id="InvInvtry" class="form-horizontal" novalidate="">

                    <div class="form-group">
                        <label class="col-lg-3 ">{{"InvInvtry_acsngDt_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.acsngDt.$invalid }" >
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                   ng-model="invtryCreateCtlr.invtry.acsngDt" id="acsngDt" name="acsngDt" class="form-control"  >
                            <p ng-show="InvInvtry.acsngDt.$error.required" class="help-block">{{"InvInvtry_acsngDt_description.title"| translate}}</p>
                        </div>
                        <label class="col-lg-3 ">{{"InvInvtry_gapSaleAmtHT_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.gapSaleAmtHT.$invalid }" >
                            <input type="text" disabled ng-model="invtryCreateCtlr.invtry.gapSaleAmtHT" id="gapSaleAmtHT" name="gapSaleAmtHT" class="form-control" required >
                            <p ng-show="InvInvtry.gapSaleAmtHT.$error.required" class="help-block">{{"InvInvtry_gapSaleAmtHT_description.title"| translate}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 ">{{"InvInvtry_gapPurchAmtHT_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.gapPurchAmtHT.$invalid }" >
                            <input type="text" disabled ng-model="invtryCreateCtlr.invtry.gapPurchAmtHT" id="gapPurchAmtHT" name="gapPurchAmtHT" class="form-control" required >
                            <p ng-show="InvInvtry.gapPurchAmtHT.$error.required" class="help-block">{{"InvInvtry_gapPurchAmtHT_description.title"| translate}}</p>
                        </div>
                        <label class="col-lg-3 ">{{"InvInvtry_invtryStatus_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.invtryStatus.$invalid }" >
                            <input disabled type="text" ng-model="invtryCreateCtlr.invtry.invtryStatus" id="invtryStatus" name="invtryStatus" class="form-control" required >
                            <p ng-show="InvInvtry.invtryStatus.$error.required" class="help-block">{{"InvInvtry_invtryStatus_description.title"| translate}}</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 ">{{"InvInvtry_descptn_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.descptn.$invalid }" >
                            <input type="text" ng-model="invtryCreateCtlr.invtry.descptn" id="descptn" name="dlvrySlipNbr" class="form-control" required >
                            <p ng-show="InvInvtry.descptn.$error.required" class="help-block">{{"InvInvtry_descptn_description.title"| translate}}</p>
                        </div>
                        <label class="col-lg-3 ">{{"InvInvtry_invInvtryType_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.invMode.$invalid }" >
                            <select ng-model="invtryCreateCtlr.invtry.invMode" ng-change="invtryCreateCtlr.selectedAction()" ng-options="invMode for invMode in invtryCreateCtlr.invModes"  id="invMode" name="invMode" class="form-control">
                            </select>
                        </div>
                        
                        <div id="test" ng-show="invtryCreateCtlr.selectedSection" ng-hide="invtryCreateCtlr.defaultParam" >
                            <label class="col-lg-3 ">test</label>
                            <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.invMode.$invalid }" >
                              <input type="text" name="test">
                            </div>
                        </div>
                        
                        <!--<label class="col-lg-3 ">{{"InvInvtry_invtryDt_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.invtryDt.$invalid }" >
                            <input type="datetime" date-time  view="date" min-view="date" views="['date']" dismiss="true" format="dd-MM-yyyy"
                                   ng-model="invtryCreateCtlr.invtry.invtryDt" id="invtryDt" name="invtryDt" class="form-control"  >
                        </div>-->
                    </div>
                    <hr/>
                    <div class="form-group">
                        <label class="col-lg-3"  > </label>
                        <div class="col-lg-8" >
                            <a class="btn-danger btn" href="#/InvInvtrys"><i class="glyphicon glyphicon-remove" ></i> {{"Entity_cancel.title" | translate }}</a>
                            <button ng-click="invtryCreateCtlr.create();" ng-disabled="catalArticleForm.$invalid" class="btn-success btn"  ><i class="glyphicon glyphicon-save"></i>  {{"Entity_save.title" | translate }}</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
  </div>