<div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{invInvtryUtils.translations['Entity_create.title']}}</b> </div>
            <div class="panel-body">
                <label class="error col-lg-offset-3 alert-danger" >{{error}} </label>
                <form  name="invInvtryForm" id="invInvtryForm" class="form-horizontal" novalidate="">
                
                
                    <!-- Francis New -->
                    <!--  <div class="form-group">
                        <label class="col-lg-2 ">{{invInvtryUtils.translations['InvInvtry_invInvtryType_description.title']}} :</label>
                        <div class="col-lg-4" ng-class="{ 'has-error' : invInvtryForm.invMode.$invalid }" >
				            <select class="form-control" name="invInvtryType" id="invInvtryType" ng-model="invInvtry.invInvtryType"
				                    ng-options="invInvtryType.enumKey as invInvtryUtils.translations[invInvtryType.translKey]
				                    	for invInvtryType in invInvtryUtils.invInvtryTypes" >
				                    <option value=""/>
							</select>
                        </div>
	                    <div ng-show="invInvtryUtils.isInvtryBySection(invInvtry)">
	                         <label class="col-lg-2">{{invInvtryUtils.translations['InvInvtry_section_description.title']}}</label>
	                         <div class="col-lg-4" >
	                            <input type="text" ng-model="stkSection" id="stkSection" name="stkSection" class="form-control"
	                                   autocomplete="off" typeahead="stkSection as stkSection.name for stkSection in invInvtryUtils.loadSections($viewValue)"
	                                   typeahead-loading="loading">
	                         </div>
	                    </div>
	                    <label class="col-lg-2">{{invInvtryUtils.translations['InvInvtry_descptn_description.title']}} :</label>
                        <div class="col-lg-10">
		                	<textarea rows="3" id="descptn name="descptn" class="form-control" 
		                		ng-model="invInvtry.descptn" maxlength="256">
		                	</textarea>
                        </div>
                    </div>
                    <hr/>
                    <div class="form-group">
                    	<span class="col-lg-1"></span>
                        <div class="col-lg-1">
                            <a class="btn-danger btn" href="#/InvInvtrys">
                            	<i class="glyphicon glyphicon-remove" ></i> {{invInvtryUtils.translations['Entity_cancel.title']}}</a>
                        </div>
                    	<span class="col-lg-8"></span>
                        <div class="col-lg-1">
                            <button ng-click="create();" ng-disabled="invInvtryForm.$invalid" class="btn-success btn"  >
                            	<i class="glyphicon glyphicon-save"></i>  {{invInvtryUtils.translations['Entity_save.title']}}</button>
                        </div>
                    	<span class="col-lg-1"></span>
                    </div>-->
                    
                    
                    <!-- Franklin Old -->
                    <div class="form-group">
                        <label class="col-lg-3">{{"InvInvtry_descptn_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.descptn.$invalid }" >
                            <input type="text" ng-model="invtryCreateCtlr.invtry.descptn" id="descptn" name="dlvrySlipNbr" class="form-control" required >
                            <p ng-show="InvInvtry.descptn.$error.required" class="help-block">{{"InvInvtry_descptn_description.title"| translate}}</p>
                        </div>
                        <label class="col-lg-3 ">{{"InvInvtry_invInvtryType_description.title"| translate}} :</label>
                        <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.invMode.$invalid }" >
                            <select ng-model="invtryCreateCtlr.invtry.invMode" ng-change="invtryCreateCtlr.selectedAction()" ng-options="invMode.id as invMode.name for invMode in invtryCreateCtlr.invModes"  id="invMode" name="invMode" class="form-control">
                            </select>
                        </div>
                    </div>
                    
                    <div class="form-group" ng-show="invtryCreateCtlr.selectedSection" ng-hide="invtryCreateCtlr.defaultParam">
                            <label class="col-lg-3">{{"InvInvtry_param_section_description.title"| translate}}</label>
                            <div class="col-lg-3" ng-class="{ 'has-error' : InvInvtry.invSection.$invalid }" >
                              <select ng-model="invtryCreateCtlr.invtry.section" ng-options="invSection.id as invSection.name for invSection in invtryCreateCtlr.invStkSections" id="invSection" name="invSection" class="form-control">
                              </select>
                            </div>
                            <div ng-show="invtryCreateCtlr.selectedSection" ng-hide="invtryCreateCtlr.defaultParam" class="col-lg-6">
                               <!-- Empty space -->
                            </div>
                        
                            <div class="col-lg-3" ng-show="invtryCreateCtlr.selectedOrderRange" ng-hide="invtryCreateCtlr.defaultParam" ng-class="{ 'has-error' : InvInvtry.invtrystartRange.$invalid }" >
                              <input type="text" placeholder="{{'InvInvtry_param_startRange_description.title'| translate}}" ng-model="invtryCreateCtlr.invtry.startRange" id="invtrystartRange" name="invtrystartRange" class="form-control">
                            </div>
                        
                            <div class="col-lg-3" ng-show="invtryCreateCtlr.selectedOrderRange" ng-hide="invtryCreateCtlr.defaultParam" ng-class="{ 'has-error' : InvInvtry.invtryendRange.$invalid }" >
                              <input type="text" placeholder="{{'InvInvtry_param_endRange_description.title'| translate}}" ng-model="invtryCreateCtlr.invtry.endRange" id="invtryendRange" name="invtryendRange" class="form-control">
                            </div>
                            
                    </div>
                    
                    <hr/>
                    <div class="form-group">
                        <label class="col-lg-3"> </label>
                        <div class="col-lg-8" >
                            <a class="btn-danger btn" href="#/InvInvtrys"><i class="glyphicon glyphicon-remove" ></i> {{"Entity_cancel.title" | translate }}</a>
                            <button ng-click="invtryCreateCtlr.create();" ng-disabled="catalArticleForm.$invalid" class="btn-success btn"  ><i class="glyphicon glyphicon-save"></i>  {{"Entity_save.title" | translate }}</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
  </div>