<form name="form" ng-submit="create()" novalidate role="form">
    <div class="form-group">
        <label for="idSize">{{'idSize' | translate}}</label>
        <span id="idSize" class="form-control" >{{ouType.idSize}} </span>
    </div>
    <div class="form-group">
        <label for="typeName">{{'typeName' | translate }}</label>
        <span name="typeName" id="typeName" class="form-control" >{{ouType.typeName}} </span>
    </div>

    <div class="form-group">
        <label for="parentType">{{'parentType' | translate }}</label>
        <span id="parentType" class="form-control"> {{ ouType.parentType }} </span>
    </div>

    <div class="form-actions">
        <button type="button" class="btn btn-primary pull-right" ng-click="goToList();" >{{ 'Ok' | translate }}</button>
    </div>
</form>