<header ng-switch on="$location.path().indexOf('/CatalArticles/new') > -1">
    <h3 ng-switch-when="true">Create CatalArticle</h3>
    <h3 ng-switch-when="false">View or edit CatalArticle</h3>
</header>
<form id="CatalArticleForm" name="CatalArticleForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.articleName.$invalid}">
        <label for="articleName" class="control-label">Article Name</label>
        <div id="articleNameControls" class="controls">
            <input id="articleName" name="articleName" type="text" required ng-model="catalArticle.articleName" placeholder="Enter the CatalArticle Article Name"></input>
            <span class="help-inline" ng-show="CatalArticleForm.articleName.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.pic.$invalid}">
        <label for="pic" class="control-label">Pic</label>
        <div id="picControls" class="controls">
            <input id="pic" name="pic" type="text" ng-model="catalArticle.pic" placeholder="Enter the CatalArticle Pic"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.active.$invalid}">
        <label for="active" class="control-label">Active</label>
        <div id="activeControls" class="controls">
        <select id="active" name="active" ng-model="catalArticle.active" ng-options="a for a in activeList"  >
            <option value="">Choose a Active</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.authorizedSale.$invalid}">
        <label for="authorizedSale" class="control-label">Authorized Sale</label>
        <div id="authorizedSaleControls" class="controls">
        <select id="authorizedSale" name="authorizedSale" ng-model="catalArticle.authorizedSale" ng-options="a for a in authorizedSaleList"  >
            <option value="">Choose a Authorized Sale</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.familiesIdentif.$invalid}">
        <label for="familiesIdentif" class="control-label">Families Identif</label>
        <div id="familiesIdentifControls" class="controls">
            <input id="familiesIdentif" name="familiesIdentif" type="text" ng-model="catalArticle.familiesIdentif" placeholder="Enter the CatalArticle Families Identif"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.sppu.$invalid}">
        <label for="sppu" class="control-label">Sppu</label>
        <div id="sppuControls" class="controls">
            <input id="sppu" name="sppu" type="text" ng-model="catalArticle.sppu" placeholder="Enter the CatalArticle Sppu"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.sppuCurrIso3.$invalid}">
        <label for="sppuCurrIso3" class="control-label">Sppu Curr Iso 3</label>
        <div id="sppuCurrIso3Controls" class="controls">
            <input id="sppuCurrIso3" name="sppuCurrIso3" type="text" ng-model="catalArticle.sppuCurrIso3" placeholder="Enter the CatalArticle Sppu Curr Iso 3"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArticleForm.vatRate.$invalid}">
        <label for="vatRate" class="control-label">Vat Rate</label>
        <div id="vatRateControls" class="controls">
            <input id="vatRate" name="vatRate" type="text" ng-model="catalArticle.vatRate" placeholder="Enter the CatalArticle Vat Rate"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalArticle" name="saveCatalArticle" class="btn btn-primary" ng-disabled="isClean() || CatalArticleForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCatalArticle" name="deleteCatalArticle" class="btn btn-danger" ng-show="catalArticle.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>