<div ng-controller="catalPicMappingCtrl as picCtrl" >
    <a class="btn btn-success margBott10 pull-right" ng-click="picCtrl.openCreateForm('md')"><i class="glyphicon glyphicon-plus"></i> {{'Entity_create.title' | translate}}</a>
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Art Identif</th>
            <th>Code</th>
            <th>Code Origin</th>
            <th>Add Info</th>
            <th>Priority</th>
            <th></th>
        </tr>
        <tr ng-repeat="result in picCtrl.catalPicMappings">
            <td><a >{{result.artIdentif}}</a></td>
            <td><a >{{result.code}}</a></td>
            <td><a >{{result.codeOrigin}}</a></td>
            <td><a >{{result.addInfo}}</a></td>
            <td><a >{{result.priority}}</a></td>
            <td><a class="btn btn-default" ng-click="picCtrl.openEditForm('md',$index);"><i class="glyphicon glyphicon-edit"></i> </a>
            </td>
        </tr>
    </table>
</div>