<header ng-switch on="$location.path().indexOf('/SlsSOPtnrs/new') > -1">
    <h3 ng-switch-when="true">Create SlsSOPtnr</h3>
    <h3 ng-switch-when="false">View or edit SlsSOPtnr</h3>
</header>
<form id="SlsSOPtnrForm" name="SlsSOPtnrForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsSOPtnrForm.soNbr.$invalid}">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div id="soNbrControls" class="controls">
            <input id="soNbr" name="soNbr" type="text" required ng-model="slsSOPtnr.soNbr" placeholder="Enter the SlsSOPtnr So Nbr"></input>
            <span class="help-inline" ng-show="SlsSOPtnrForm.soNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOPtnrForm.ptnrNbr.$invalid}">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div id="ptnrNbrControls" class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" required ng-model="slsSOPtnr.ptnrNbr" placeholder="Enter the SlsSOPtnr Ptnr Nbr"></input>
            <span class="help-inline" ng-show="SlsSOPtnrForm.ptnrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsSOPtnrForm.roleInSO.$invalid}">
        <label for="roleInSO" class="control-label">Role In SO</label>
        <div id="roleInSOControls" class="controls">
            <input id="roleInSO" name="roleInSO" type="text" required ng-model="slsSOPtnr.roleInSO" placeholder="Enter the SlsSOPtnr Role In SO"></input>
            <span class="help-inline" ng-show="SlsSOPtnrForm.roleInSO.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsSOPtnr" name="saveSlsSOPtnr" class="btn btn-primary" ng-disabled="isClean() || SlsSOPtnrForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsSOPtnr" name="deleteSlsSOPtnr" class="btn btn-danger" ng-show="slsSOPtnr.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>