<div class="form-horizontal">
    <h3>Create a new SlsSOPtnr</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/SlsSOPtnrs/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for SlsSOPtnrs</h3>
    <form id="SlsSOPtnrSearch" class="form-horizontal">
    <div class="control-group">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div class="controls">
            <input id="soNbr" name="soNbr" type="text" ng-model="search.soNbr" placeholder="Enter the SlsSOPtnr So Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" ng-model="search.ptnrNbr" placeholder="Enter the SlsSOPtnr Ptnr Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="roleInSO" class="control-label">Role In SO</label>
        <div class="controls">
            <input id="roleInSO" name="roleInSO" type="text" ng-model="search.roleInSO" placeholder="Enter the SlsSOPtnr Role In SO"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>So Nbr</th>
                <th>Ptnr Nbr</th>
                <th>Role In SO</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/SlsSOPtnrs/edit/{{result.id}}">{{result.soNbr}}</a></td>
                <td><a href="#/SlsSOPtnrs/edit/{{result.id}}">{{result.ptnrNbr}}</a></td>
                <td><a href="#/SlsSOPtnrs/edit/{{result.id}}">{{result.roleInSO}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>