<header ng-switch on="$location.path().indexOf('/BpPtnrIdDtlss/new') > -1">
    <h3 ng-switch-when="true">Create BpPtnrIdDtls</h3>
    <h3 ng-switch-when="false">View or edit BpPtnrIdDtls</h3>
</header>
<form id="BpPtnrIdDtlsForm" name="BpPtnrIdDtlsForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.ptnrNbr.$invalid}">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div id="ptnrNbrControls" class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" required ng-model="bpPtnrIdDtls.ptnrNbr" placeholder="Enter the BpPtnrIdDtls Ptnr Nbr"></input>
            <span class="help-inline" ng-show="BpPtnrIdDtlsForm.ptnrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.ptnrIdType.$invalid}">
        <label for="ptnrIdType" class="control-label">Ptnr Id Type</label>
        <div id="ptnrIdTypeControls" class="controls">
        <select id="ptnrIdType" name="ptnrIdType" ng-model="bpPtnrIdDtls.ptnrIdType" ng-options="p for p in ptnrIdTypeList"  >
            <option value="">Choose a Ptnr Id Type</option>
        </select>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.issuedDt.$invalid}">
        <label for="issuedDt" class="control-label">Issued Dt</label>
        <div id="issuedDtControls" class="controls">
            <datetime id="issuedDt" name="issuedDt" ng-model="bpPtnrIdDtls.issuedDt" placeholder="Enter the BpPtnrIdDtls Issued Dt"></datetime>
            <span class="help-inline" ng-show="BpPtnrIdDtlsForm.issuedDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.expirdDt.$invalid}">
        <label for="expirdDt" class="control-label">Expird Dt</label>
        <div id="expirdDtControls" class="controls">
            <datetime id="expirdDt" name="expirdDt" ng-model="bpPtnrIdDtls.expirdDt" placeholder="Enter the BpPtnrIdDtls Expird Dt"></datetime>
            <span class="help-inline" ng-show="BpPtnrIdDtlsForm.expirdDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.issuedBy.$invalid}">
        <label for="issuedBy" class="control-label">Issued By</label>
        <div id="issuedByControls" class="controls">
            <input id="issuedBy" name="issuedBy" type="text" ng-model="bpPtnrIdDtls.issuedBy" placeholder="Enter the BpPtnrIdDtls Issued By"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.issuedIn.$invalid}">
        <label for="issuedIn" class="control-label">Issued In</label>
        <div id="issuedInControls" class="controls">
            <input id="issuedIn" name="issuedIn" type="text" ng-model="bpPtnrIdDtls.issuedIn" placeholder="Enter the BpPtnrIdDtls Issued In"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrIdDtlsForm.issuingCtry.$invalid}">
        <label for="issuingCtry" class="control-label">Issuing Ctry</label>
        <div id="issuingCtryControls" class="controls">
            <input id="issuingCtry" name="issuingCtry" type="text" ng-model="bpPtnrIdDtls.issuingCtry" placeholder="Enter the BpPtnrIdDtls Issuing Ctry"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveBpPtnrIdDtls" name="saveBpPtnrIdDtls" class="btn btn-primary" ng-disabled="isClean() || BpPtnrIdDtlsForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteBpPtnrIdDtls" name="deleteBpPtnrIdDtls" class="btn btn-danger" ng-show="bpPtnrIdDtls.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>