<header ng-switch on="$location.path().indexOf('/BpLegalPtnrIds/new') > -1">
    <h3 ng-switch-when="true">Create BpLegalPtnrId</h3>
    <h3 ng-switch-when="false">View or edit BpLegalPtnrId</h3>
</header>
<form id="BpLegalPtnrIdForm" name="BpLegalPtnrIdForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.ptnrNbr.$invalid}">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div id="ptnrNbrControls" class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" required ng-model="bpLegalPtnrId.ptnrNbr" placeholder="Enter the BpLegalPtnrId Ptnr Nbr"></input>
            <span class="help-inline" ng-show="BpLegalPtnrIdForm.ptnrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.cpnyName.$invalid}">
        <label for="cpnyName" class="control-label">Cpny Name</label>
        <div id="cpnyNameControls" class="controls">
            <input id="cpnyName" name="cpnyName" type="text" required ng-model="bpLegalPtnrId.cpnyName" placeholder="Enter the BpLegalPtnrId Cpny Name"></input>
            <span class="help-inline" ng-show="BpLegalPtnrIdForm.cpnyName.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.shortName.$invalid}">
        <label for="shortName" class="control-label">Short Name</label>
        <div id="shortNameControls" class="controls">
            <input id="shortName" name="shortName" type="text" required ng-model="bpLegalPtnrId.shortName" placeholder="Enter the BpLegalPtnrId Short Name"></input>
            <span class="help-inline" ng-show="BpLegalPtnrIdForm.shortName.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.legalForm.$invalid}">
        <label for="legalForm" class="control-label">Legal Form</label>
        <div id="legalFormControls" class="controls">
            <input id="legalForm" name="legalForm" type="text" ng-model="bpLegalPtnrId.legalForm" placeholder="Enter the BpLegalPtnrId Legal Form"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.equity.$invalid}">
        <label for="equity" class="control-label">Equity</label>
        <div id="equityControls" class="controls">
            <input id="equity" name="equity" type="text" ng-model="bpLegalPtnrId.equity" placeholder="Enter the BpLegalPtnrId Equity"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.cmrcRgstrNbr.$invalid}">
        <label for="cmrcRgstrNbr" class="control-label">Cmrc Rgstr Nbr</label>
        <div id="cmrcRgstrNbrControls" class="controls">
            <input id="cmrcRgstrNbr" name="cmrcRgstrNbr" type="text" ng-model="bpLegalPtnrId.cmrcRgstrNbr" placeholder="Enter the BpLegalPtnrId Cmrc Rgstr Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpLegalPtnrIdForm.taxPayerIdNbr.$invalid}">
        <label for="taxPayerIdNbr" class="control-label">Tax Payer Id Nbr</label>
        <div id="taxPayerIdNbrControls" class="controls">
            <input id="taxPayerIdNbr" name="taxPayerIdNbr" type="text" ng-model="bpLegalPtnrId.taxPayerIdNbr" placeholder="Enter the BpLegalPtnrId Tax Payer Id Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveBpLegalPtnrId" name="saveBpLegalPtnrId" class="btn btn-primary" ng-disabled="isClean() || BpLegalPtnrIdForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteBpLegalPtnrId" name="deleteBpLegalPtnrId" class="btn btn-danger" ng-show="bpLegalPtnrId.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>