<header ng-switch on="$location.path().indexOf('/StkInvtryItems/new') > -1">
    <h3 ng-switch-when="true">Create StkInvtryItem</h3>
    <h3 ng-switch-when="false">View or edit StkInvtryItem</h3>
</header>
<form id="StkInvtryItemForm" name="StkInvtryItemForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.invtryNbr.$invalid}">
        <label for="invtryNbr" class="control-label">Invtry Nbr</label>
        <div id="invtryNbrControls" class="controls">
            <input id="invtryNbr" name="invtryNbr" type="text" required ng-model="stkInvtryItem.invtryNbr" placeholder="Enter the StkInvtryItem Invtry Nbr"></input>
            <span class="help-inline" ng-show="StkInvtryItemForm.invtryNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.lotPic.$invalid}">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div id="lotPicControls" class="controls">
            <input id="lotPic" name="lotPic" type="text" required ng-model="stkInvtryItem.lotPic" placeholder="Enter the StkInvtryItem Lot Pic"></input>
            <span class="help-inline" ng-show="StkInvtryItemForm.lotPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.artPic.$invalid}">
        <label for="artPic" class="control-label">Art Pic</label>
        <div id="artPicControls" class="controls">
            <input id="artPic" name="artPic" type="text" required ng-model="stkInvtryItem.artPic" placeholder="Enter the StkInvtryItem Art Pic"></input>
            <span class="help-inline" ng-show="StkInvtryItemForm.artPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.expectedQty.$invalid}">
        <label for="expectedQty" class="control-label">Expected Qty</label>
        <div id="expectedQtyControls" class="controls">
            <input id="expectedQty" name="expectedQty" type="text" ng-model="stkInvtryItem.expectedQty" placeholder="Enter the StkInvtryItem Expected Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.asseccedQty.$invalid}">
        <label for="asseccedQty" class="control-label">Assecced Qty</label>
        <div id="asseccedQtyControls" class="controls">
            <input id="asseccedQty" name="asseccedQty" type="text" ng-model="stkInvtryItem.asseccedQty" placeholder="Enter the StkInvtryItem Assecced Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.gap.$invalid}">
        <label for="gap" class="control-label">Gap</label>
        <div id="gapControls" class="controls">
            <input id="gap" name="gap" type="text" ng-model="stkInvtryItem.gap" placeholder="Enter the StkInvtryItem Gap"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.sppuHT.$invalid}">
        <label for="sppuHT" class="control-label">Sppu HT</label>
        <div id="sppuHTControls" class="controls">
            <input id="sppuHT" name="sppuHT" type="text" ng-model="stkInvtryItem.sppuHT" placeholder="Enter the StkInvtryItem Sppu HT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.sppuCur.$invalid}">
        <label for="sppuCur" class="control-label">Sppu Cur</label>
        <div id="sppuCurControls" class="controls">
            <input id="sppuCur" name="sppuCur" type="text" ng-model="stkInvtryItem.sppuCur" placeholder="Enter the StkInvtryItem Sppu Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.gapTotalSpHT.$invalid}">
        <label for="gapTotalSpHT" class="control-label">Gap Total Sp HT</label>
        <div id="gapTotalSpHTControls" class="controls">
            <input id="gapTotalSpHT" name="gapTotalSpHT" type="text" ng-model="stkInvtryItem.gapTotalSpHT" placeholder="Enter the StkInvtryItem Gap Total Sp HT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.pppuHT.$invalid}">
        <label for="pppuHT" class="control-label">Pppu HT</label>
        <div id="pppuHTControls" class="controls">
            <input id="pppuHT" name="pppuHT" type="text" ng-model="stkInvtryItem.pppuHT" placeholder="Enter the StkInvtryItem Pppu HT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.pppuCur.$invalid}">
        <label for="pppuCur" class="control-label">Pppu Cur</label>
        <div id="pppuCurControls" class="controls">
            <input id="pppuCur" name="pppuCur" type="text" ng-model="stkInvtryItem.pppuCur" placeholder="Enter the StkInvtryItem Pppu Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.gapTotalPpHT.$invalid}">
        <label for="gapTotalPpHT" class="control-label">Gap Total Pp HT</label>
        <div id="gapTotalPpHTControls" class="controls">
            <input id="gapTotalPpHT" name="gapTotalPpHT" type="text" ng-model="stkInvtryItem.gapTotalPpHT" placeholder="Enter the StkInvtryItem Gap Total Pp HT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.acsngUser.$invalid}">
        <label for="acsngUser" class="control-label">Acsng User</label>
        <div id="acsngUserControls" class="controls">
            <input id="acsngUser" name="acsngUser" type="text" required ng-model="stkInvtryItem.acsngUser" placeholder="Enter the StkInvtryItem Acsng User"></input>
            <span class="help-inline" ng-show="StkInvtryItemForm.acsngUser.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryItemForm.acsngDt.$invalid}">
        <label for="acsngDt" class="control-label">Acsng Dt</label>
        <div id="acsngDtControls" class="controls">
            <datetime id="acsngDt" name="acsngDt" ng-model="stkInvtryItem.acsngDt" placeholder="Enter the StkInvtryItem Acsng Dt"></datetime>
            <span class="help-inline" ng-show="StkInvtryItemForm.acsngDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveStkInvtryItem" name="saveStkInvtryItem" class="btn btn-primary" ng-disabled="isClean() || StkInvtryItemForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteStkInvtryItem" name="deleteStkInvtryItem" class="btn btn-danger" ng-show="stkInvtryItem.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>