<header ng-switch on="$location.path().indexOf('/StkInvtrys/new') > -1">
    <h3 ng-switch-when="true">Create StkInvtry</h3>
    <h3 ng-switch-when="false">View or edit StkInvtry</h3>
</header>
<form id="StkInvtryForm" name="StkInvtryForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.invtryNbr.$invalid}">
        <label for="invtryNbr" class="control-label">Invtry Nbr</label>
        <div id="invtryNbrControls" class="controls">
            <input id="invtryNbr" name="invtryNbr" type="text" required ng-model="stkInvtry.invtryNbr" placeholder="Enter the StkInvtry Invtry Nbr"></input>
            <span class="help-inline" ng-show="StkInvtryForm.invtryNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.acsngUser.$invalid}">
        <label for="acsngUser" class="control-label">Acsng User</label>
        <div id="acsngUserControls" class="controls">
            <input id="acsngUser" name="acsngUser" type="text" required ng-model="stkInvtry.acsngUser" placeholder="Enter the StkInvtry Acsng User"></input>
            <span class="help-inline" ng-show="StkInvtryForm.acsngUser.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.acsngDt.$invalid}">
        <label for="acsngDt" class="control-label">Acsng Dt</label>
        <div id="acsngDtControls" class="controls">
            <datetime id="acsngDt" name="acsngDt" required ng-model="stkInvtry.acsngDt" placeholder="Enter the StkInvtry Acsng Dt"></datetime>
            <span class="help-inline" ng-show="StkInvtryForm.acsngDt.$error.required">required</span> 
            <span class="help-inline" ng-show="StkInvtryForm.acsngDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.gapSaleAmtHT.$invalid}">
        <label for="gapSaleAmtHT" class="control-label">Gap Sale Amt HT</label>
        <div id="gapSaleAmtHTControls" class="controls">
            <input id="gapSaleAmtHT" name="gapSaleAmtHT" type="text" ng-model="stkInvtry.gapSaleAmtHT" placeholder="Enter the StkInvtry Gap Sale Amt HT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.gapPurchAmtHT.$invalid}">
        <label for="gapPurchAmtHT" class="control-label">Gap Purch Amt HT</label>
        <div id="gapPurchAmtHTControls" class="controls">
            <input id="gapPurchAmtHT" name="gapPurchAmtHT" type="text" ng-model="stkInvtry.gapPurchAmtHT" placeholder="Enter the StkInvtry Gap Purch Amt HT"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.invtryStatus.$invalid}">
        <label for="invtryStatus" class="control-label">Invtry Status</label>
        <div id="invtryStatusControls" class="controls">
            <input id="invtryStatus" name="invtryStatus" type="text" required ng-model="stkInvtry.invtryStatus" placeholder="Enter the StkInvtry Invtry Status"></input>
            <span class="help-inline" ng-show="StkInvtryForm.invtryStatus.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.descptn.$invalid}">
        <label for="descptn" class="control-label">Descptn</label>
        <div id="descptnControls" class="controls">
            <input id="descptn" name="descptn" type="text" ng-maxlength="256" ng-model="stkInvtry.descptn" placeholder="Enter the StkInvtry Descptn"></input>
            <span class="help-inline" ng-show="StkInvtryForm.descptn.$error.maxlength">maximum length is 256</span>
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkInvtryForm.invtryDt.$invalid}">
        <label for="invtryDt" class="control-label">Invtry Dt</label>
        <div id="invtryDtControls" class="controls">
            <datetime id="invtryDt" name="invtryDt" required ng-model="stkInvtry.invtryDt" placeholder="Enter the StkInvtry Invtry Dt"></datetime>
            <span class="help-inline" ng-show="StkInvtryForm.invtryDt.$error.required">required</span> 
            <span class="help-inline" ng-show="StkInvtryForm.invtryDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveStkInvtry" name="saveStkInvtry" class="btn btn-primary" ng-disabled="isClean() || StkInvtryForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteStkInvtry" name="deleteStkInvtry" class="btn btn-danger" ng-show="stkInvtry.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>