<header ng-switch on="$location.path().indexOf('/CdrDrctSaless/new') > -1">
    <h3 ng-switch-when="true">Create CdrDrctSales</h3>
    <h3 ng-switch-when="false">View or edit CdrDrctSales</h3>
</header>
<form id="CdrDrctSalesForm" name="CdrDrctSalesForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.dsNbr.$invalid}">
        <label for="dsNbr" class="control-label">Ds Nbr</label>
        <div id="dsNbrControls" class="controls">
            <input id="dsNbr" name="dsNbr" type="text" required ng-model="cdrDrctSales.dsNbr" placeholder="Enter the CdrDrctSales Ds Nbr"></input>
            <span class="help-inline" ng-show="CdrDrctSalesForm.dsNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.dsCur.$invalid}">
        <label for="dsCur" class="control-label">Ds Cur</label>
        <div id="dsCurControls" class="controls">
            <input id="dsCur" name="dsCur" type="text" ng-model="cdrDrctSales.dsCur" placeholder="Enter the CdrDrctSales Ds Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.grossSPPreTax.$invalid}">
        <label for="grossSPPreTax" class="control-label">Gross SP Pre Tax</label>
        <div id="grossSPPreTaxControls" class="controls">
            <input id="grossSPPreTax" name="grossSPPreTax" type="text" ng-model="cdrDrctSales.grossSPPreTax" placeholder="Enter the CdrDrctSales Gross SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.rebate.$invalid}">
        <label for="rebate" class="control-label">Rebate</label>
        <div id="rebateControls" class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="cdrDrctSales.rebate" placeholder="Enter the CdrDrctSales Rebate"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.netSPPreTax.$invalid}">
        <label for="netSPPreTax" class="control-label">Net SP Pre Tax</label>
        <div id="netSPPreTaxControls" class="controls">
            <input id="netSPPreTax" name="netSPPreTax" type="text" ng-model="cdrDrctSales.netSPPreTax" placeholder="Enter the CdrDrctSales Net SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.vatAmount.$invalid}">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div id="vatAmountControls" class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="cdrDrctSales.vatAmount" placeholder="Enter the CdrDrctSales Vat Amount"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.netSPTaxIncl.$invalid}">
        <label for="netSPTaxIncl" class="control-label">Net SP Tax Incl</label>
        <div id="netSPTaxInclControls" class="controls">
            <input id="netSPTaxIncl" name="netSPTaxIncl" type="text" ng-model="cdrDrctSales.netSPTaxIncl" placeholder="Enter the CdrDrctSales Net SP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.pymtDscntPct.$invalid}">
        <label for="pymtDscntPct" class="control-label">Pymt Dscnt Pct</label>
        <div id="pymtDscntPctControls" class="controls">
            <input id="pymtDscntPct" name="pymtDscntPct" type="text" ng-model="cdrDrctSales.pymtDscntPct" placeholder="Enter the CdrDrctSales Pymt Dscnt Pct"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.pymtDscntAmt.$invalid}">
        <label for="pymtDscntAmt" class="control-label">Pymt Dscnt Amt</label>
        <div id="pymtDscntAmtControls" class="controls">
            <input id="pymtDscntAmt" name="pymtDscntAmt" type="text" ng-model="cdrDrctSales.pymtDscntAmt" placeholder="Enter the CdrDrctSales Pymt Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.netSalesAmt.$invalid}">
        <label for="netSalesAmt" class="control-label">Net Sales Amt</label>
        <div id="netSalesAmtControls" class="controls">
            <input id="netSalesAmt" name="netSalesAmt" type="text" ng-model="cdrDrctSales.netSalesAmt" placeholder="Enter the CdrDrctSales Net Sales Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.rdngDscntAmt.$invalid}">
        <label for="rdngDscntAmt" class="control-label">Rdng Dscnt Amt</label>
        <div id="rdngDscntAmtControls" class="controls">
            <input id="rdngDscntAmt" name="rdngDscntAmt" type="text" ng-model="cdrDrctSales.rdngDscntAmt" placeholder="Enter the CdrDrctSales Rdng Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.netAmtToPay.$invalid}">
        <label for="netAmtToPay" class="control-label">Net Amt To Pay</label>
        <div id="netAmtToPayControls" class="controls">
            <input id="netAmtToPay" name="netAmtToPay" type="text" ng-model="cdrDrctSales.netAmtToPay" placeholder="Enter the CdrDrctSales Net Amt To Pay"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.cashier.$invalid}">
        <label for="cashier" class="control-label">Cashier</label>
        <div id="cashierControls" class="controls">
            <input id="cashier" name="cashier" type="text" required ng-model="cdrDrctSales.cashier" placeholder="Enter the CdrDrctSales Cashier"></input>
            <span class="help-inline" ng-show="CdrDrctSalesForm.cashier.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.cdrNbr.$invalid}">
        <label for="cdrNbr" class="control-label">Cdr Nbr</label>
        <div id="cdrNbrControls" class="controls">
            <input id="cdrNbr" name="cdrNbr" type="text" ng-model="cdrDrctSales.cdrNbr" placeholder="Enter the CdrDrctSales Cdr Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.rcptNbr.$invalid}">
        <label for="rcptNbr" class="control-label">Rcpt Nbr</label>
        <div id="rcptNbrControls" class="controls">
            <input id="rcptNbr" name="rcptNbr" type="text" required ng-model="cdrDrctSales.rcptNbr" placeholder="Enter the CdrDrctSales Rcpt Nbr"></input>
            <span class="help-inline" ng-show="CdrDrctSalesForm.rcptNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CdrDrctSalesForm.rcptPrntDt.$invalid}">
        <label for="rcptPrntDt" class="control-label">Rcpt Prnt Dt</label>
        <div id="rcptPrntDtControls" class="controls">
            <datetime id="rcptPrntDt" name="rcptPrntDt" ng-model="cdrDrctSales.rcptPrntDt" placeholder="Enter the CdrDrctSales Rcpt Prnt Dt"></datetime>
            <span class="help-inline" ng-show="CdrDrctSalesForm.rcptPrntDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCdrDrctSales" name="saveCdrDrctSales" class="btn btn-primary" ng-disabled="isClean() || CdrDrctSalesForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCdrDrctSales" name="deleteCdrDrctSales" class="btn btn-danger" ng-show="cdrDrctSales.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>