<div class="form-horizontal">
    <h3>Create a new PrcmtDelivery</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/PrcmtDeliverys/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for PrcmtDeliverys</h3>
    <form id="PrcmtDeliverySearch" class="form-horizontal">
    <div class="control-group">
        <label for="dlvryNbr" class="control-label">Dlvry Nbr</label>
        <div class="controls">
            <input id="dlvryNbr" name="dlvryNbr" type="text" ng-model="search.dlvryNbr" placeholder="Enter the PrcmtDelivery Dlvry Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="dlvrySlipNbr" class="control-label">Dlvry Slip Nbr</label>
        <div class="controls">
            <input id="dlvrySlipNbr" name="dlvrySlipNbr" type="text" ng-model="search.dlvrySlipNbr" placeholder="Enter the PrcmtDelivery Dlvry Slip Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="supplier" class="control-label">Supplier</label>
        <div class="controls">
            <input id="supplier" name="supplier" type="text" ng-model="search.supplier" placeholder="Enter the PrcmtDelivery Supplier"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="dlvryCur" class="control-label">Dlvry Cur</label>
        <div class="controls">
            <input id="dlvryCur" name="dlvryCur" type="text" ng-model="search.dlvryCur" placeholder="Enter the PrcmtDelivery Dlvry Cur"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="grossPPPreTax" class="control-label">Gross PP Pre Tax</label>
        <div class="controls">
            <input id="grossPPPreTax" name="grossPPPreTax" type="text" ng-model="search.grossPPPreTax" placeholder="Enter the PrcmtDelivery Gross PP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="rebate" class="control-label">Rebate</label>
        <div class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="search.rebate" placeholder="Enter the PrcmtDelivery Rebate"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="netPPPreTax" class="control-label">Net PP Pre Tax</label>
        <div class="controls">
            <input id="netPPPreTax" name="netPPPreTax" type="text" ng-model="search.netPPPreTax" placeholder="Enter the PrcmtDelivery Net PP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="search.vatAmount" placeholder="Enter the PrcmtDelivery Vat Amount"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="netPPTaxIncl" class="control-label">Net PP Tax Incl</label>
        <div class="controls">
            <input id="netPPTaxIncl" name="netPPTaxIncl" type="text" ng-model="search.netPPTaxIncl" placeholder="Enter the PrcmtDelivery Net PP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="pymtDscntPct" class="control-label">Pymt Dscnt Pct</label>
        <div class="controls">
            <input id="pymtDscntPct" name="pymtDscntPct" type="text" ng-model="search.pymtDscntPct" placeholder="Enter the PrcmtDelivery Pymt Dscnt Pct"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="pymtDscntAmt" class="control-label">Pymt Dscnt Amt</label>
        <div class="controls">
            <input id="pymtDscntAmt" name="pymtDscntAmt" type="text" ng-model="search.pymtDscntAmt" placeholder="Enter the PrcmtDelivery Pymt Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="netPurchAmt" class="control-label">Net Purch Amt</label>
        <div class="controls">
            <input id="netPurchAmt" name="netPurchAmt" type="text" ng-model="search.netPurchAmt" placeholder="Enter the PrcmtDelivery Net Purch Amt"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="rdngDscntAmt" class="control-label">Rdng Dscnt Amt</label>
        <div class="controls">
            <input id="rdngDscntAmt" name="rdngDscntAmt" type="text" ng-model="search.rdngDscntAmt" placeholder="Enter the PrcmtDelivery Rdng Dscnt Amt"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="netAmtToPay" class="control-label">Net Amt To Pay</label>
        <div class="controls">
            <input id="netAmtToPay" name="netAmtToPay" type="text" ng-model="search.netAmtToPay" placeholder="Enter the PrcmtDelivery Net Amt To Pay"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="dlvryStatus" class="control-label">Dlvry Status</label>
        <div class="controls">
            <select id="dlvryStatus" name="dlvryStatus" ng-model="search.dlvryStatus" ng-options="d as d for d in dlvryStatusList">
                <option value="">Choose a Dlvry Status</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="rcvngOrgUnit" class="control-label">Rcvng Org Unit</label>
        <div class="controls">
            <input id="rcvngOrgUnit" name="rcvngOrgUnit" type="text" ng-model="search.rcvngOrgUnit" placeholder="Enter the PrcmtDelivery Rcvng Org Unit"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="creatingUsr" class="control-label">Creating Usr</label>
        <div class="controls">
            <input id="creatingUsr" name="creatingUsr" type="text" ng-model="search.creatingUsr" placeholder="Enter the PrcmtDelivery Creating Usr"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Dlvry Nbr</th>
                <th>Dlvry Slip Nbr</th>
                <th>Dt On Dlvry Slip</th>
                <th>Order Dt</th>
                <th>Dlvry Dt</th>
                <th>Supplier</th>
                <th>Dlvry Cur</th>
                <th>Gross PP Pre Tax</th>
                <th>Rebate</th>
                <th>Net PP Pre Tax</th>
                <th>Vat Amount</th>
                <th>Net PP Tax Incl</th>
                <th>Pymt Dscnt Pct</th>
                <th>Pymt Dscnt Amt</th>
                <th>Net Purch Amt</th>
                <th>Rdng Dscnt Amt</th>
                <th>Net Amt To Pay</th>
                <th>Dlvry Status</th>
                <th>Rcvng Org Unit</th>
                <th>Creating Usr</th>
                <th>Creation Dt</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.dlvryNbr}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.dlvrySlipNbr}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.dtOnDlvrySlip| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.orderDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.dlvryDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.supplier}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.dlvryCur}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.grossPPPreTax}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.rebate}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.netPPPreTax}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.vatAmount}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.netPPTaxIncl}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.pymtDscntPct}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.pymtDscntAmt}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.netPurchAmt}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.rdngDscntAmt}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.netAmtToPay}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.dlvryStatus}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.rcvngOrgUnit}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.creatingUsr}}</a></td>
                <td><a href="#/PrcmtDeliverys/edit/{{result.id}}">{{result.creationDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>