<div class="container">
   <div class="panel panel-default">
       <div class="panel-heading"><b>{{cdrCshDrawerUtils.translations['Entity_show.title']}}</b> </div>
       <div class="panel-body">
           <label class="error col-lg-offset-3 alert-danger" >{{error}} </label>
           <form  name="CdrCshDrawerForm" id="CdrCshDrawerForm" class="form-horizontal" novalidate="">
	           	<div class="row" >
               		<div class="form-group">
                   		<label class="control-label">{{cdrCshDrawerUtils.translations['CdrCshDrawer_initialAmt_description.title']}} :</label>
                        <input type="text" class="form-control" disabled name="initialAmt" value="{{cdrCshDrawer.initialAmt}}" id="initialAmt" />
                   	</div>
               	</div>
                 
               <hr/>
               <div class="form-group">
               	<span class="col-lg-4"></span>
                   <div class="col-lg-2">
                       <a class="btn-danger btn" href="#/CdrCshDrawers">
                       	<i class="glyphicon glyphicon-remove" ></i> {{cdrCshDrawerUtils.translations['Entity_cancel.title']}}</a>
                   </div>
               	<span class="col-lg-4"></span>
               </div>
               
           </form>
       </div>
   </div>
</div>