<header ng-switch on="$location.path().indexOf('/CatalArtEquivalences/new') > -1">
    <h3 ng-switch-when="true">Create CatalArtEquivalence</h3>
    <h3 ng-switch-when="false">View or edit CatalArtEquivalence</h3>
</header>
<form id="CatalArtEquivalenceForm" name="CatalArtEquivalenceForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CatalArtEquivalenceForm.artEquivCode.$invalid}">
        <label for="artEquivCode" class="control-label">Art Equiv Code</label>
        <div id="artEquivCodeControls" class="controls">
            <input id="artEquivCode" name="artEquivCode" type="text" required ng-model="catalArtEquivalence.artEquivCode" placeholder="Enter the CatalArtEquivalence Art Equiv Code"></input>
            <span class="help-inline" ng-show="CatalArtEquivalenceForm.artEquivCode.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtEquivalenceForm.mainArtIdentif.$invalid}">
        <label for="mainArtIdentif" class="control-label">Main Art Identif</label>
        <div id="mainArtIdentifControls" class="controls">
            <input id="mainArtIdentif" name="mainArtIdentif" type="text" required ng-model="catalArtEquivalence.mainArtIdentif" placeholder="Enter the CatalArtEquivalence Main Art Identif"></input>
            <span class="help-inline" ng-show="CatalArtEquivalenceForm.mainArtIdentif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtEquivalenceForm.equivArtIdentif.$invalid}">
        <label for="equivArtIdentif" class="control-label">Equiv Art Identif</label>
        <div id="equivArtIdentifControls" class="controls">
            <input id="equivArtIdentif" name="equivArtIdentif" type="text" required ng-model="catalArtEquivalence.equivArtIdentif" placeholder="Enter the CatalArtEquivalence Equiv Art Identif"></input>
            <span class="help-inline" ng-show="CatalArtEquivalenceForm.equivArtIdentif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalArtEquivalence" name="saveCatalArtEquivalence" class="btn btn-primary" ng-disabled="isClean() || CatalArtEquivalenceForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCatalArtEquivalence" name="deleteCatalArtEquivalence" class="btn btn-danger" ng-show="catalArtEquivalence.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>