<header ng-switch on="$location.path().indexOf('/CatalProductFamilys/new') > -1">
    <h3 ng-switch-when="true">Create CatalProductFamily</h3>
    <h3 ng-switch-when="false">View or edit CatalProductFamily</h3>
</header>
<form id="CatalProductFamilyForm" name="CatalProductFamilyForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CatalProductFamilyForm.identif.$invalid}">
        <label for="identif" class="control-label">Identif</label>
        <div id="identifControls" class="controls">
            <input id="identif" name="identif" type="text" required ng-model="catalProductFamily.identif" placeholder="Enter the CatalProductFamily Identif"></input>
            <span class="help-inline" ng-show="CatalProductFamilyForm.identif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalProductFamilyForm.parentIdentif.$invalid}">
        <label for="parentIdentif" class="control-label">Parent Identif</label>
        <div id="parentIdentifControls" class="controls">
            <input id="parentIdentif" name="parentIdentif" type="text" ng-model="catalProductFamily.parentIdentif" placeholder="Enter the CatalProductFamily Parent Identif"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalProductFamily" name="saveCatalProductFamily" class="btn btn-primary" ng-disabled="isClean() || CatalProductFamilyForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCatalProductFamily" name="deleteCatalProductFamily" class="btn btn-danger" ng-show="catalProductFamily.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>