
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="navbar-brand">
				<img ng-src="/adres.client/img/logo.png" class="navbar-brand-logo" />
				<span ng-cloak ng-bind="appVersion" class="navbar-brand-version" />
			</span>			
   		</div>
   		<div>
   			<ul class="nav navbar-nav navbar-center">
   				<li><a><span class="navbar-brand col-lg-offset-2" style="text-align:center">{{"workspace_ouWsIdentif"|translate}} : {{"workspace_login"|translate}}</span></a></li>
   			</ul>
   			<ul class="nav navbar-nav navbar-right">
   				<li class="dropdown" ng-show="sessionManager.userSession()"><a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" href=""><b  ng-bind="sessionManager.loginName()"></b></a>
   					<ul class="dropdown-menu">
   						<li><a href="{{sessionManager.workspaceLink()}}" ng-click="sessionManager.workspaces()" class="pointer-element">{{"workspace_ouWsIdentif"|translate}}</a></li>
   						<li><a href="#" ng-click="sessionManager.logout();" class="pointer-element">{{"workspace_logOut"|translate}}</a></li>
   						<li><a href="#" ng-click="changeLanguage('en')" class="pointer-element">English</a></li>
   						<li><a href="#" ng-click="changeLanguage('fr')" class="pointer-element">Francais</a></li>
   					</ul>
   				</li>
   				<li ng-show="sessionManager.appMenuUrl()" class="dropdown">
					<a class="dropdown-toggle glyphicon glyphicon-list" data-toggle="dropdown" href="">
						<b >{{"workspace_appMenu"|translate}}</b>
					</a>   					
   					<ul class="dropdown-menu" ng-include="sessionManager.appMenuUrl()"></ul>
   				</li>
   			</ul>
   		</div>		
	</div>
</nav>
