<header ng-switch on="$location.path().indexOf('/BpPtnrCtgryDtlss/new') > -1">
    <h3 ng-switch-when="true">Create BpPtnrCtgryDtls</h3>
    <h3 ng-switch-when="false">View or edit BpPtnrCtgryDtls</h3>
</header>
<form id="BpPtnrCtgryDtlsForm" name="BpPtnrCtgryDtlsForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: BpPtnrCtgryDtlsForm.ctgryCode.$invalid}">
        <label for="ctgryCode" class="control-label">Ctgry Code</label>
        <div id="ctgryCodeControls" class="controls">
            <input id="ctgryCode" name="ctgryCode" type="text" required ng-model="bpPtnrCtgryDtls.ctgryCode" placeholder="Enter the BpPtnrCtgryDtls Ctgry Code"></input>
            <span class="help-inline" ng-show="BpPtnrCtgryDtlsForm.ctgryCode.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrCtgryDtlsForm.langIso2.$invalid}">
        <label for="langIso2" class="control-label">Lang Iso 2</label>
        <div id="langIso2Controls" class="controls">
            <input id="langIso2" name="langIso2" type="text" required ng-model="bpPtnrCtgryDtls.langIso2" placeholder="Enter the BpPtnrCtgryDtls Lang Iso 2"></input>
            <span class="help-inline" ng-show="BpPtnrCtgryDtlsForm.langIso2.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrCtgryDtlsForm.name.$invalid}">
        <label for="name" class="control-label">Name</label>
        <div id="nameControls" class="controls">
            <input id="name" name="name" type="text" required ng-model="bpPtnrCtgryDtls.name" placeholder="Enter the BpPtnrCtgryDtls Name"></input>
            <span class="help-inline" ng-show="BpPtnrCtgryDtlsForm.name.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: BpPtnrCtgryDtlsForm.description.$invalid}">
        <label for="description" class="control-label">Description</label>
        <div id="descriptionControls" class="controls">
            <input id="description" name="description" type="text" ng-maxlength="256" ng-model="bpPtnrCtgryDtls.description" placeholder="Enter the BpPtnrCtgryDtls Description"></input>
            <span class="help-inline" ng-show="BpPtnrCtgryDtlsForm.description.$error.maxlength">maximum length is 256</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveBpPtnrCtgryDtls" name="saveBpPtnrCtgryDtls" class="btn btn-primary" ng-disabled="isClean() || BpPtnrCtgryDtlsForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteBpPtnrCtgryDtls" name="deleteBpPtnrCtgryDtls" class="btn btn-danger" ng-show="bpPtnrCtgryDtls.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>