<div class="form-horizontal">
    <h3>Create a new StkInvtry</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/StkInvtrys/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for StkInvtrys</h3>
    <form id="StkInvtrySearch" class="form-horizontal">
    <div class="control-group">
        <label for="invtryNbr" class="control-label">Invtry Nbr</label>
        <div class="controls">
            <input id="invtryNbr" name="invtryNbr" type="text" ng-model="search.invtryNbr" placeholder="Enter the StkInvtry Invtry Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="acsngUser" class="control-label">Acsng User</label>
        <div class="controls">
            <input id="acsngUser" name="acsngUser" type="text" ng-model="search.acsngUser" placeholder="Enter the StkInvtry Acsng User"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="gapSaleAmtHT" class="control-label">Gap Sale Amt HT</label>
        <div class="controls">
            <input id="gapSaleAmtHT" name="gapSaleAmtHT" type="text" ng-model="search.gapSaleAmtHT" placeholder="Enter the StkInvtry Gap Sale Amt HT"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="gapPurchAmtHT" class="control-label">Gap Purch Amt HT</label>
        <div class="controls">
            <input id="gapPurchAmtHT" name="gapPurchAmtHT" type="text" ng-model="search.gapPurchAmtHT" placeholder="Enter the StkInvtry Gap Purch Amt HT"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="invtryStatus" class="control-label">Invtry Status</label>
        <div class="controls">
            <input id="invtryStatus" name="invtryStatus" type="text" ng-model="search.invtryStatus" placeholder="Enter the StkInvtry Invtry Status"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="descptn" class="control-label">Descptn</label>
        <div class="controls">
            <input id="descptn" name="descptn" type="text" ng-model="search.descptn" placeholder="Enter the StkInvtry Descptn"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Invtry Nbr</th>
                <th>Acsng User</th>
                <th>Acsng Dt</th>
                <th>Gap Sale Amt HT</th>
                <th>Gap Purch Amt HT</th>
                <th>Invtry Status</th>
                <th>Descptn</th>
                <th>Invtry Dt</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.invtryNbr}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.acsngUser}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.acsngDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.gapSaleAmtHT}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.gapPurchAmtHT}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.invtryStatus}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.descptn}}</a></td>
                <td><a href="#/StkInvtrys/edit/{{result.id}}">{{result.invtryDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>