<header ng-switch on="$location.path().indexOf('/CatalArtFeatMappings/new') > -1">
    <h3 ng-switch-when="true">Create CatalArtFeatMapping</h3>
    <h3 ng-switch-when="false">View or edit CatalArtFeatMapping</h3>
</header>
<form id="CatalArtFeatMappingForm" name="CatalArtFeatMappingForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CatalArtFeatMappingForm.artIdentif.$invalid}">
        <label for="artIdentif" class="control-label">Art Identif</label>
        <div id="artIdentifControls" class="controls">
            <input id="artIdentif" name="artIdentif" type="text" required ng-model="catalArtFeatMapping.artIdentif" placeholder="Enter the CatalArtFeatMapping Art Identif"></input>
            <span class="help-inline" ng-show="CatalArtFeatMappingForm.artIdentif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtFeatMappingForm.langIso2.$invalid}">
        <label for="langIso2" class="control-label">Lang Iso 2</label>
        <div id="langIso2Controls" class="controls">
            <input id="langIso2" name="langIso2" type="text" required ng-model="catalArtFeatMapping.langIso2" placeholder="Enter the CatalArtFeatMapping Lang Iso 2"></input>
            <span class="help-inline" ng-show="CatalArtFeatMappingForm.langIso2.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtFeatMappingForm.artName.$invalid}">
        <label for="artName" class="control-label">Art Name</label>
        <div id="artNameControls" class="controls">
            <input id="artName" name="artName" type="text" ng-model="catalArtFeatMapping.artName" placeholder="Enter the CatalArtFeatMapping Art Name"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtFeatMappingForm.substances.$invalid}">
        <label for="substances" class="control-label">Substances</label>
        <div id="substancesControls" class="controls">
            <input id="substances" name="substances" type="text" ng-model="catalArtFeatMapping.substances" placeholder="Enter the CatalArtFeatMapping Substances"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalArtFeatMappingForm.usage.$invalid}">
        <label for="usage" class="control-label">Usage</label>
        <div id="usageControls" class="controls">
            <input id="usage" name="usage" type="text" ng-model="catalArtFeatMapping.usage" placeholder="Enter the CatalArtFeatMapping Usage"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalArtFeatMapping" name="saveCatalArtFeatMapping" class="btn btn-primary" ng-disabled="isClean() || CatalArtFeatMappingForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCatalArtFeatMapping" name="deleteCatalArtFeatMapping" class="btn btn-danger" ng-show="catalArtFeatMapping.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>