<header ng-switch on="$location.path().indexOf('/CatalFamilyFeatMapings/new') > -1">
    <h3 ng-switch-when="true">Create CatalFamilyFeatMaping</h3>
    <h3 ng-switch-when="false">View or edit CatalFamilyFeatMaping</h3>
</header>
<form id="CatalFamilyFeatMapingForm" name="CatalFamilyFeatMapingForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.pfIdentif.$invalid}">
        <label for="pfIdentif" class="control-label">Pf Identif</label>
        <div id="pfIdentifControls" class="controls">
            <input id="pfIdentif" name="pfIdentif" type="text" required ng-model="catalFamilyFeatMaping.pfIdentif" placeholder="Enter the CatalFamilyFeatMaping Pf Identif"></input>
            <span class="help-inline" ng-show="CatalFamilyFeatMapingForm.pfIdentif.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.langIso2.$invalid}">
        <label for="langIso2" class="control-label">Lang Iso 2</label>
        <div id="langIso2Controls" class="controls">
            <input id="langIso2" name="langIso2" type="text" required ng-model="catalFamilyFeatMaping.langIso2" placeholder="Enter the CatalFamilyFeatMaping Lang Iso 2"></input>
            <span class="help-inline" ng-show="CatalFamilyFeatMapingForm.langIso2.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.familyName.$invalid}">
        <label for="familyName" class="control-label">Family Name</label>
        <div id="familyNameControls" class="controls">
            <input id="familyName" name="familyName" type="text" ng-model="catalFamilyFeatMaping.familyName" placeholder="Enter the CatalFamilyFeatMaping Family Name"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.substances.$invalid}">
        <label for="substances" class="control-label">Substances</label>
        <div id="substancesControls" class="controls">
            <input id="substances" name="substances" type="text" ng-model="catalFamilyFeatMaping.substances" placeholder="Enter the CatalFamilyFeatMaping Substances"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.warnings.$invalid}">
        <label for="warnings" class="control-label">Warnings</label>
        <div id="warningsControls" class="controls">
            <input id="warnings" name="warnings" type="text" ng-model="catalFamilyFeatMaping.warnings" placeholder="Enter the CatalFamilyFeatMaping Warnings"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: CatalFamilyFeatMapingForm.usage.$invalid}">
        <label for="usage" class="control-label">Usage</label>
        <div id="usageControls" class="controls">
            <input id="usage" name="usage" type="text" ng-model="catalFamilyFeatMaping.usage" placeholder="Enter the CatalFamilyFeatMaping Usage"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveCatalFamilyFeatMaping" name="saveCatalFamilyFeatMaping" class="btn btn-primary" ng-disabled="isClean() || CatalFamilyFeatMapingForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteCatalFamilyFeatMaping" name="deleteCatalFamilyFeatMaping" class="btn btn-danger" ng-show="catalFamilyFeatMaping.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>