<div class="form-horizontal">
    <h3>Create a new CatalFamilyFeatMaping</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/CatalFamilyFeatMapings/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for CatalFamilyFeatMapings</h3>
    <form id="CatalFamilyFeatMapingSearch" class="form-horizontal">
    <div class="control-group">
        <label for="pfIdentif" class="control-label">Pf Identif</label>
        <div class="controls">
            <input id="pfIdentif" name="pfIdentif" type="text" ng-model="search.pfIdentif" placeholder="Enter the CatalFamilyFeatMaping Pf Identif"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="langIso2" class="control-label">Lang Iso 2</label>
        <div class="controls">
            <input id="langIso2" name="langIso2" type="text" ng-model="search.langIso2" placeholder="Enter the CatalFamilyFeatMaping Lang Iso 2"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="familyName" class="control-label">Family Name</label>
        <div class="controls">
            <input id="familyName" name="familyName" type="text" ng-model="search.familyName" placeholder="Enter the CatalFamilyFeatMaping Family Name"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="substances" class="control-label">Substances</label>
        <div class="controls">
            <input id="substances" name="substances" type="text" ng-model="search.substances" placeholder="Enter the CatalFamilyFeatMaping Substances"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="warnings" class="control-label">Warnings</label>
        <div class="controls">
            <input id="warnings" name="warnings" type="text" ng-model="search.warnings" placeholder="Enter the CatalFamilyFeatMaping Warnings"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="usage" class="control-label">Usage</label>
        <div class="controls">
            <input id="usage" name="usage" type="text" ng-model="search.usage" placeholder="Enter the CatalFamilyFeatMaping Usage"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Pf Identif</th>
                <th>Lang Iso 2</th>
                <th>Family Name</th>
                <th>Substances</th>
                <th>Warnings</th>
                <th>Usage</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/CatalFamilyFeatMapings/edit/{{result.id}}">{{result.pfIdentif}}</a></td>
                <td><a href="#/CatalFamilyFeatMapings/edit/{{result.id}}">{{result.langIso2}}</a></td>
                <td><a href="#/CatalFamilyFeatMapings/edit/{{result.id}}">{{result.familyName}}</a></td>
                <td><a href="#/CatalFamilyFeatMapings/edit/{{result.id}}">{{result.substances}}</a></td>
                <td><a href="#/CatalFamilyFeatMapings/edit/{{result.id}}">{{result.warnings}}</a></td>
                <td><a href="#/CatalFamilyFeatMapings/edit/{{result.id}}">{{result.usage}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>