<header ng-switch on="$location.path().indexOf('/SlsInvcePtnrs/new') > -1">
    <h3 ng-switch-when="true">Create SlsInvcePtnr</h3>
    <h3 ng-switch-when="false">View or edit SlsInvcePtnr</h3>
</header>
<form id="SlsInvcePtnrForm" name="SlsInvcePtnrForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsInvcePtnrForm.invceNbr.$invalid}">
        <label for="invceNbr" class="control-label">Invce Nbr</label>
        <div id="invceNbrControls" class="controls">
            <input id="invceNbr" name="invceNbr" type="text" required ng-model="slsInvcePtnr.invceNbr" placeholder="Enter the SlsInvcePtnr Invce Nbr"></input>
            <span class="help-inline" ng-show="SlsInvcePtnrForm.invceNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvcePtnrForm.ptnrNbr.$invalid}">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div id="ptnrNbrControls" class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" required ng-model="slsInvcePtnr.ptnrNbr" placeholder="Enter the SlsInvcePtnr Ptnr Nbr"></input>
            <span class="help-inline" ng-show="SlsInvcePtnrForm.ptnrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvcePtnrForm.roleInInvce.$invalid}">
        <label for="roleInInvce" class="control-label">Role In Invce</label>
        <div id="roleInInvceControls" class="controls">
            <input id="roleInInvce" name="roleInInvce" type="text" required ng-model="slsInvcePtnr.roleInInvce" placeholder="Enter the SlsInvcePtnr Role In Invce"></input>
            <span class="help-inline" ng-show="SlsInvcePtnrForm.roleInInvce.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsInvcePtnr" name="saveSlsInvcePtnr" class="btn btn-primary" ng-disabled="isClean() || SlsInvcePtnrForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsInvcePtnr" name="deleteSlsInvcePtnr" class="btn btn-danger" ng-show="slsInvcePtnr.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>