<header ng-switch on="$location.path().indexOf('/SlsInvceItems/new') > -1">
    <h3 ng-switch-when="true">Create SlsInvceItem</h3>
    <h3 ng-switch-when="false">View or edit SlsInvceItem</h3>
</header>
<form id="SlsInvceItemForm" name="SlsInvceItemForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.invNbr.$invalid}">
        <label for="invNbr" class="control-label">Inv Nbr</label>
        <div id="invNbrControls" class="controls">
            <input id="invNbr" name="invNbr" type="text" required ng-model="slsInvceItem.invNbr" placeholder="Enter the SlsInvceItem Inv Nbr"></input>
            <span class="help-inline" ng-show="SlsInvceItemForm.invNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.lotPic.$invalid}">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div id="lotPicControls" class="controls">
            <input id="lotPic" name="lotPic" type="text" required ng-model="slsInvceItem.lotPic" placeholder="Enter the SlsInvceItem Lot Pic"></input>
            <span class="help-inline" ng-show="SlsInvceItemForm.lotPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.artPic.$invalid}">
        <label for="artPic" class="control-label">Art Pic</label>
        <div id="artPicControls" class="controls">
            <input id="artPic" name="artPic" type="text" required ng-model="slsInvceItem.artPic" placeholder="Enter the SlsInvceItem Art Pic"></input>
            <span class="help-inline" ng-show="SlsInvceItemForm.artPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.qty.$invalid}">
        <label for="qty" class="control-label">Qty</label>
        <div id="qtyControls" class="controls">
            <input id="qty" name="qty" type="text" ng-model="slsInvceItem.qty" placeholder="Enter the SlsInvceItem Qty"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.sppuPreTax.$invalid}">
        <label for="sppuPreTax" class="control-label">Sppu Pre Tax</label>
        <div id="sppuPreTaxControls" class="controls">
            <input id="sppuPreTax" name="sppuPreTax" type="text" ng-model="slsInvceItem.sppuPreTax" placeholder="Enter the SlsInvceItem Sppu Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.sppuCur.$invalid}">
        <label for="sppuCur" class="control-label">Sppu Cur</label>
        <div id="sppuCurControls" class="controls">
            <input id="sppuCur" name="sppuCur" type="text" ng-model="slsInvceItem.sppuCur" placeholder="Enter the SlsInvceItem Sppu Cur"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.grossSPPreTax.$invalid}">
        <label for="grossSPPreTax" class="control-label">Gross SP Pre Tax</label>
        <div id="grossSPPreTaxControls" class="controls">
            <input id="grossSPPreTax" name="grossSPPreTax" type="text" ng-model="slsInvceItem.grossSPPreTax" placeholder="Enter the SlsInvceItem Gross SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.rebate.$invalid}">
        <label for="rebate" class="control-label">Rebate</label>
        <div id="rebateControls" class="controls">
            <input id="rebate" name="rebate" type="text" ng-model="slsInvceItem.rebate" placeholder="Enter the SlsInvceItem Rebate"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.netSPPreTax.$invalid}">
        <label for="netSPPreTax" class="control-label">Net SP Pre Tax</label>
        <div id="netSPPreTaxControls" class="controls">
            <input id="netSPPreTax" name="netSPPreTax" type="text" ng-model="slsInvceItem.netSPPreTax" placeholder="Enter the SlsInvceItem Net SP Pre Tax"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.vatPct.$invalid}">
        <label for="vatPct" class="control-label">Vat Pct</label>
        <div id="vatPctControls" class="controls">
            <input id="vatPct" name="vatPct" type="text" ng-model="slsInvceItem.vatPct" placeholder="Enter the SlsInvceItem Vat Pct"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.vatAmount.$invalid}">
        <label for="vatAmount" class="control-label">Vat Amount</label>
        <div id="vatAmountControls" class="controls">
            <input id="vatAmount" name="vatAmount" type="text" ng-model="slsInvceItem.vatAmount" placeholder="Enter the SlsInvceItem Vat Amount"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.netSPTaxIncl.$invalid}">
        <label for="netSPTaxIncl" class="control-label">Net SP Tax Incl</label>
        <div id="netSPTaxInclControls" class="controls">
            <input id="netSPTaxIncl" name="netSPTaxIncl" type="text" ng-model="slsInvceItem.netSPTaxIncl" placeholder="Enter the SlsInvceItem Net SP Tax Incl"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsInvceItemForm.objctOrgUnit.$invalid}">
        <label for="objctOrgUnit" class="control-label">Objct Org Unit</label>
        <div id="objctOrgUnitControls" class="controls">
            <input id="objctOrgUnit" name="objctOrgUnit" type="text" required ng-model="slsInvceItem.objctOrgUnit" placeholder="Enter the SlsInvceItem Objct Org Unit"></input>
            <span class="help-inline" ng-show="SlsInvceItemForm.objctOrgUnit.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsInvceItem" name="saveSlsInvceItem" class="btn btn-primary" ng-disabled="isClean() || SlsInvceItemForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsInvceItem" name="deleteSlsInvceItem" class="btn btn-danger" ng-show="slsInvceItem.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>