<div>
    <div class="well">

        <p class="">
            
        </p>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading"><b>{{'Add_Procurement_Order_Item' | translate}}</b> </div>
        <div class="panel-body">
            <form name="OrderItemForm" id="OrderItemForm" novalidate >
                <table class="table table-bordered  table-striped">
                    <thead>
                    <tr>
                        <th class="clo-lg-2">CIP</th>
                        <th class="col-lg-3">Designation</th>
                        <th>Qte Stock</th>
                        <th>Qte</th>
                        <th>{{'SlsSOItem_sppuPreTax_description.title' | translate}}</th>
                        <th>{{'SlsSOItem_rebate_description.title'|translate}}</th>
                        <th>{{'SlsSOItem_vatAmount_description.title'|translate}}</th>
                        <th>{{'SlsSOItem_netSPTaxIncl_description.title' | translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div ng-class="{ 'has-error' : OrderItemForm.artPic.$invalid }" >
                                <input type="text" ng- class="form-control" select-on-click name="artPic" id="artPic" required autocomplete="off" ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.artPic"
                                       typeahead="article as article.pic for article in saleCtlr.loadArticlesByCipLike($viewValue)"
                                       typeahead-loading="loading" typeahead-template-url="views/SlsSalesOrder/CatalTypeaheadTemplate.html" typeahead-on-select='saleCtlr.onSelect($item, $model, $label)' >
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error' : OrderItemForm.artName.$invalid }" >
                                <input type="text" class="form-control" select-on-click focus required id="artName" autocomplete="off" ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.artName"
                                       typeahead="article as article.features.artName for article in saleCtlr.loadArticlesByNameLike($viewValue)"
                                       typeahead-loading="loading" typeahead-on-select='saleCtlr.onSelect($item, $model, $label)' name="artName" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" disabled ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.stkQty" ></td>
                        <td>
                            <div ng-class="{ 'has-error' : OrderItemForm.qtyDlvrd.$invalid }" >
                                <input type="text" class="form-control" required name="orderedQty" id="orderedQty" ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.orderedQty" >
                            </div>
                        </td>
                        <td><input type="text" class="form-control" ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.sppuPreTax" ></td>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="rebate" ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.rebate" >
                            </div>
                        </td>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="vatAmount" disabled ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.vatAmount" >
                            </div>
                        </td>
                        <td>
                            <div >
                                <input type="text" class="form-control" name="netSPTaxIncl" ng-model="saleCtlr.slsSalesOrderItemHolder.slsSOItem.netSPTaxIncl" >
                            </div>
                        </td>
                        <td><button class="btn btn-primary" ng-enter="saleCtlr.addItem()" ng-disabled="OrderItemForm.$invalid" ng-click="saleCtlr.addItem()" ><i class="glyphicon glyphicon-plus"></i> Add</button></td>

                    </tr>
                    </tbody>
                </table>
                
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{'SlsSOItem_description.title' | translate}}</b> </div>
        <div class="panel-body">
            <table class="table table-bordered  table-striped" >
                <thead>
                <tr>
                    <th class="col-lg-2" >{{'SlsSOItem_artPic_description.title' | translate}}</th>
                    <th class="col-lg-3" >Designation</th>
                    <th>{{'SlsSOItem_orderedQty_description.title' |translate}}</th>
                    <th>{{'SlsSOItem_sppuPreTax_description.title' | translate}}</th>
                    <th>{{'SlsSOItem_rebate_description.title'|translate}}</th>
                    <th>{{'SlsSOItem_vatAmount_description.title'|translate}}</th>
                    <th>{{'SlsSOItem_netSPTaxIncl_description.title' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="orderItemHolder in saleCtlr.slsSalesOrder.slsSOItemsholder" >
                    <td>{{orderItemHolder.slsSOItem.artPic}}</td>
                    <td>{{orderItemHolder.slsSOItem.artName}}</td>
                    <td>{{orderItemHolder.slsSOItem.orderedQty}}</td>
                    <td>{{orderItemHolder.slsSOItem.sppuPreTax}}</td>
                    <td>{{orderItemHolder.slsSOItem.rebate}}</td>
                    <td>{{orderItemHolder.slsSOItem.vatAmount}}</td>
                    <td>{{orderItemHolder.slsSOItem.netSPTaxIncl}}</td>
                    <td><a ng-show="saleCtlr.closeStatus" ng-click="saleCtlr.editItem($index)" class=""><i class="glyphicon glyphicon-edit"></i></a></td>
                    <td><a ng-show="saleCtlr.closeStatus" ng-click="saleCtlr.deleteItem($index)" class=""><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>