<div class="form-horizontal">
    <h3>Create a new StkInvtryItem</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/StkInvtryItems/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for StkInvtryItems</h3>
    <form id="StkInvtryItemSearch" class="form-horizontal">
    <div class="control-group">
        <label for="invtryNbr" class="control-label">Invtry Nbr</label>
        <div class="controls">
            <input id="invtryNbr" name="invtryNbr" type="text" ng-model="search.invtryNbr" placeholder="Enter the StkInvtryItem Invtry Nbr"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div class="controls">
            <input id="lotPic" name="lotPic" type="text" ng-model="search.lotPic" placeholder="Enter the StkInvtryItem Lot Pic"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="artPic" class="control-label">Art Pic</label>
        <div class="controls">
            <input id="artPic" name="artPic" type="text" ng-model="search.artPic" placeholder="Enter the StkInvtryItem Art Pic"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="expectedQty" class="control-label">Expected Qty</label>
        <div class="controls">
            <input id="expectedQty" name="expectedQty" type="text" ng-model="search.expectedQty" placeholder="Enter the StkInvtryItem Expected Qty"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="asseccedQty" class="control-label">Assecced Qty</label>
        <div class="controls">
            <input id="asseccedQty" name="asseccedQty" type="text" ng-model="search.asseccedQty" placeholder="Enter the StkInvtryItem Assecced Qty"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="gap" class="control-label">Gap</label>
        <div class="controls">
            <input id="gap" name="gap" type="text" ng-model="search.gap" placeholder="Enter the StkInvtryItem Gap"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sppuHT" class="control-label">Sppu HT</label>
        <div class="controls">
            <input id="sppuHT" name="sppuHT" type="text" ng-model="search.sppuHT" placeholder="Enter the StkInvtryItem Sppu HT"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sppuCur" class="control-label">Sppu Cur</label>
        <div class="controls">
            <input id="sppuCur" name="sppuCur" type="text" ng-model="search.sppuCur" placeholder="Enter the StkInvtryItem Sppu Cur"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="gapTotalSpHT" class="control-label">Gap Total Sp HT</label>
        <div class="controls">
            <input id="gapTotalSpHT" name="gapTotalSpHT" type="text" ng-model="search.gapTotalSpHT" placeholder="Enter the StkInvtryItem Gap Total Sp HT"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="pppuHT" class="control-label">Pppu HT</label>
        <div class="controls">
            <input id="pppuHT" name="pppuHT" type="text" ng-model="search.pppuHT" placeholder="Enter the StkInvtryItem Pppu HT"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="pppuCur" class="control-label">Pppu Cur</label>
        <div class="controls">
            <input id="pppuCur" name="pppuCur" type="text" ng-model="search.pppuCur" placeholder="Enter the StkInvtryItem Pppu Cur"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="gapTotalPpHT" class="control-label">Gap Total Pp HT</label>
        <div class="controls">
            <input id="gapTotalPpHT" name="gapTotalPpHT" type="text" ng-model="search.gapTotalPpHT" placeholder="Enter the StkInvtryItem Gap Total Pp HT"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="acsngUser" class="control-label">Acsng User</label>
        <div class="controls">
            <input id="acsngUser" name="acsngUser" type="text" ng-model="search.acsngUser" placeholder="Enter the StkInvtryItem Acsng User"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Invtry Nbr</th>
                <th>Lot Pic</th>
                <th>Art Pic</th>
                <th>Expected Qty</th>
                <th>Assecced Qty</th>
                <th>Gap</th>
                <th>Sppu HT</th>
                <th>Sppu Cur</th>
                <th>Gap Total Sp HT</th>
                <th>Pppu HT</th>
                <th>Pppu Cur</th>
                <th>Gap Total Pp HT</th>
                <th>Acsng User</th>
                <th>Acsng Dt</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.invtryNbr}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.lotPic}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.artPic}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.expectedQty}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.asseccedQty}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.gap}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.sppuHT}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.sppuCur}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.gapTotalSpHT}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.pppuHT}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.pppuCur}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.gapTotalPpHT}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.acsngUser}}</a></td>
                <td><a href="#/StkInvtryItems/edit/{{result.id}}">{{result.acsngDt| date:'yyyy-MM-dd HH:mm:ss Z'}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>