<header ng-switch on="$location.path().indexOf('/SlsAccts/new') > -1">
    <h3 ng-switch-when="true">Create SlsAcct</h3>
    <h3 ng-switch-when="false">View or edit SlsAcct</h3>
</header>
<form id="SlsAcctForm" name="SlsAcctForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.soAndInvceNbr.$invalid}">
        <label for="soAndInvceNbr" class="control-label">So And Invce Nbr</label>
        <div id="soAndInvceNbrControls" class="controls">
            <input id="soAndInvceNbr" name="soAndInvceNbr" type="text" required ng-model="slsAcct.soAndInvceNbr" placeholder="Enter the SlsAcct So And Invce Nbr"></input>
            <span class="help-inline" ng-show="SlsAcctForm.soAndInvceNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.invceNbr.$invalid}">
        <label for="invceNbr" class="control-label">Invce Nbr</label>
        <div id="invceNbrControls" class="controls">
            <input id="invceNbr" name="invceNbr" type="text" ng-model="slsAcct.invceNbr" placeholder="Enter the SlsAcct Invce Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.soNbr.$invalid}">
        <label for="soNbr" class="control-label">So Nbr</label>
        <div id="soNbrControls" class="controls">
            <input id="soNbr" name="soNbr" type="text" ng-model="slsAcct.soNbr" placeholder="Enter the SlsAcct So Nbr"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.ptnrNbr.$invalid}">
        <label for="ptnrNbr" class="control-label">Ptnr Nbr</label>
        <div id="ptnrNbrControls" class="controls">
            <input id="ptnrNbr" name="ptnrNbr" type="text" required ng-model="slsAcct.ptnrNbr" placeholder="Enter the SlsAcct Ptnr Nbr"></input>
            <span class="help-inline" ng-show="SlsAcctForm.ptnrNbr.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.roleInInvce.$invalid}">
        <label for="roleInInvce" class="control-label">Role In Invce</label>
        <div id="roleInInvceControls" class="controls">
            <input id="roleInInvce" name="roleInInvce" type="text" required ng-model="slsAcct.roleInInvce" placeholder="Enter the SlsAcct Role In Invce"></input>
            <span class="help-inline" ng-show="SlsAcctForm.roleInInvce.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.sttlmtOp.$invalid}">
        <label for="sttlmtOp" class="control-label">Sttlmt Op</label>
        <div id="sttlmtOpControls" class="controls">
            <input id="sttlmtOp" name="sttlmtOp" type="text" required ng-model="slsAcct.sttlmtOp" placeholder="Enter the SlsAcct Sttlmt Op"></input>
            <span class="help-inline" ng-show="SlsAcctForm.sttlmtOp.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.sttlmtOpHint.$invalid}">
        <label for="sttlmtOpHint" class="control-label">Sttlmt Op Hint</label>
        <div id="sttlmtOpHintControls" class="controls">
            <input id="sttlmtOpHint" name="sttlmtOpHint" type="text" required ng-model="slsAcct.sttlmtOpHint" placeholder="Enter the SlsAcct Sttlmt Op Hint"></input>
            <span class="help-inline" ng-show="SlsAcctForm.sttlmtOpHint.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.amt.$invalid}">
        <label for="amt" class="control-label">Amt</label>
        <div id="amtControls" class="controls">
            <input id="amt" name="amt" type="text" ng-model="slsAcct.amt" placeholder="Enter the SlsAcct Amt"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.amtSide.$invalid}">
        <label for="amtSide" class="control-label">Amt Side</label>
        <div id="amtSideControls" class="controls">
        <select id="amtSide" name="amtSide" ng-model="slsAcct.amtSide" ng-options="a for a in amtSideList" required >
            <option value="">Choose a Amt Side</option>
        </select>
        <span class="help-inline" ng-show="SlsAcctForm.amtSide.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.blnce.$invalid}">
        <label for="blnce" class="control-label">Blnce</label>
        <div id="blnceControls" class="controls">
            <input id="blnce" name="blnce" type="text" ng-model="slsAcct.blnce" placeholder="Enter the SlsAcct Blnce"></input>
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.blnceSide.$invalid}">
        <label for="blnceSide" class="control-label">Blnce Side</label>
        <div id="blnceSideControls" class="controls">
        <select id="blnceSide" name="blnceSide" ng-model="slsAcct.blnceSide" ng-options="b for b in blnceSideList" required >
            <option value="">Choose a Blnce Side</option>
        </select>
        <span class="help-inline" ng-show="SlsAcctForm.blnceSide.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: SlsAcctForm.evntDt.$invalid}">
        <label for="evntDt" class="control-label">Evnt Dt</label>
        <div id="evntDtControls" class="controls">
            <datetime id="evntDt" name="evntDt" required ng-model="slsAcct.evntDt" placeholder="Enter the SlsAcct Evnt Dt"></datetime>
            <span class="help-inline" ng-show="SlsAcctForm.evntDt.$error.required">required</span> 
            <span class="help-inline" ng-show="SlsAcctForm.evntDt.$error.dateFormat">does not match format "yyyy-MM-dd hh:mm:ss"</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveSlsAcct" name="saveSlsAcct" class="btn btn-primary" ng-disabled="isClean() || SlsAcctForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteSlsAcct" name="deleteSlsAcct" class="btn btn-danger" ng-show="slsAcct.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>