<header ng-switch on="$location.path().indexOf('/StkArtLotSections/new') > -1">
    <h3 ng-switch-when="true">Create StkArtLotSection</h3>
    <h3 ng-switch-when="false">View or edit StkArtLotSection</h3>
</header>
<form id="StkArtLotSectionForm" name="StkArtLotSectionForm" class="form-horizontal">
    <div ng-show="displayError" class="alert alert-error">
        <strong>Error!</strong> Something broke. Retry, or cancel and start afresh.
    </div>
    <div class="control-group" ng-class="{error: StkArtLotSectionForm.lotPic.$invalid}">
        <label for="lotPic" class="control-label">Lot Pic</label>
        <div id="lotPicControls" class="controls">
            <input id="lotPic" name="lotPic" type="text" required ng-model="stkArtLotSection.lotPic" placeholder="Enter the StkArtLotSection Lot Pic"></input>
            <span class="help-inline" ng-show="StkArtLotSectionForm.lotPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkArtLotSectionForm.artPic.$invalid}">
        <label for="artPic" class="control-label">Art Pic</label>
        <div id="artPicControls" class="controls">
            <input id="artPic" name="artPic" type="text" required ng-model="stkArtLotSection.artPic" placeholder="Enter the StkArtLotSection Art Pic"></input>
            <span class="help-inline" ng-show="StkArtLotSectionForm.artPic.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group" ng-class="{error: StkArtLotSectionForm.sectionCode.$invalid}">
        <label for="sectionCode" class="control-label">Section Code</label>
        <div id="sectionCodeControls" class="controls">
            <input id="sectionCode" name="sectionCode" type="text" required ng-model="stkArtLotSection.sectionCode" placeholder="Enter the StkArtLotSection Section Code"></input>
            <span class="help-inline" ng-show="StkArtLotSectionForm.sectionCode.$error.required">required</span> 
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveStkArtLotSection" name="saveStkArtLotSection" class="btn btn-primary" ng-disabled="isClean() || StkArtLotSectionForm.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteStkArtLotSection" name="deleteStkArtLotSection" class="btn btn-danger" ng-show="stkArtLotSection.id" ng-click="remove()"><i class="icon-trash icon-white"></i> Delete</button>
        </div>
    <div>
</form>