<div class="form-horizontal">
    <h3>Create a new CatalArticle</h3>
    <div class="control-group">
        <div class="controls">
            <a id="Create" name="Create" class="btn btn-primary" href="#/CatalArticles/new"><i class="icon-plus-sign icon-white"></i> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for CatalArticles</h3>
    <form id="CatalArticleSearch" class="form-horizontal">
    <div class="control-group">
        <label for="articleName" class="control-label">Article Name</label>
        <div class="controls">
            <input id="articleName" name="articleName" type="text" ng-model="search.articleName" placeholder="Enter the CatalArticle Article Name"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="pic" class="control-label">Pic</label>
        <div class="controls">
            <input id="pic" name="pic" type="text" ng-model="search.pic" placeholder="Enter the CatalArticle Pic"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="active" class="control-label">Active</label>
        <div class="controls">
            <select id="active" name="active" ng-model="search.active" ng-options="a as a for a in activeList">
                <option value="">Choose a Active</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="authorizedSale" class="control-label">Authorized Sale</label>
        <div class="controls">
            <select id="authorizedSale" name="authorizedSale" ng-model="search.authorizedSale" ng-options="a as a for a in authorizedSaleList">
                <option value="">Choose a Authorized Sale</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <label for="familiesIdentif" class="control-label">Families Identif</label>
        <div class="controls">
            <input id="familiesIdentif" name="familiesIdentif" type="text" ng-model="search.familiesIdentif" placeholder="Enter the CatalArticle Families Identif"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sppu" class="control-label">Sppu</label>
        <div class="controls">
            <input id="sppu" name="sppu" type="text" ng-model="search.sppu" placeholder="Enter the CatalArticle Sppu"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sppuCurrIso3" class="control-label">Sppu Curr Iso 3</label>
        <div class="controls">
            <input id="sppuCurrIso3" name="sppuCurrIso3" type="text" ng-model="search.sppuCurrIso3" placeholder="Enter the CatalArticle Sppu Curr Iso 3"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="vatRate" class="control-label">Vat Rate</label>
        <div class="controls">
            <input id="vatRate" name="vatRate" type="text" ng-model="search.vatRate" placeholder="Enter the CatalArticle Vat Rate"></input>
        </div>
    </div>
        <div class="control-group">
            <div class="controls">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Article Name</th>
                <th>Pic</th>
                <th>Active</th>
                <th>Authorized Sale</th>
                <th>Families Identif</th>
                <th>Sppu</th>
                <th>Sppu Curr Iso 3</th>
                <th>Vat Rate</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.articleName}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.pic}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.active}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.authorizedSale}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.familiesIdentif}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.sppu}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.sppuCurrIso3}}</a></td>
                <td><a href="#/CatalArticles/edit/{{result.id}}">{{result.vatRate}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">«</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">»</a>
            </li>
        </ul>
    </div>
</div>